<%- contentFor('HeaderCss') %> <%- contentFor('breadcrumb') %> <%-
contentFor('body') %>

<div id="notfound">
  <div class="notfound">
    <div class="notfound-404">
      <h1>404</h1>
    </div>
    <h2>Oops! There was an error loading your page</h2>
    <p>
      Sorry, the page you are looking for might have been removed or the link
      you clicked is broken
    </p>

    <a href="/login">Go To Homepage</a>
  </div>
</div>

<%- contentFor('FooterJs') %> <%- contentFor('BottomJs') %>
