<%- contentFor('HeaderCss') %>
<!-- Bootstrap CSS -->


<%- contentFor('breadcrumb') %>
<ul class="list-inline menu-left mb-0">
    <li class="list-inline-item">
        <button type="button" class="button-menu-mobile open-left waves-effect">
            <i class="ion-navicon"></i>
        </button>
    </li>
    
    <li class="hide-phone list-inline-item app-search">
        <h3 class="page-title"> Projects </h3>
    
    </li>
</ul>

<%- contentFor('body') %>
<div class="page-content-wrapper">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12">
            <div class="card-body" style="border:0px !important;">
              <form action="/projects/<%= project.id %>" class="needs-validation" id="editProjectForm" novalidate method="POST">
                <input type="hidden" id="project_id"  name="project_id" value="<%= project.id %>">
                
                <div class="row">
                    <div class="col-md-6">
                        <!-- First column of form fields -->
                        
                        <div class="form-group needs-validation" novalidate>
                            <label for="project_name">Name</label>
                            <input type="text" class="form-control" id="project_name"  name="project_name" required value="<%=project.project_name%>">
                            <div class="invalid-feedback">
                                Please enter project name.
                            </div>
                        </div>
                        <div class="form-group" >
                            <label for="project_headline">Headline</label>
                            <input type="text" class="form-control" id="project_headline"  name="project_headline" value="<%=project.project_headline%>" >
                        </div>
                        <!-- <div class="form-group" >
                          <label for="project_description">Description</label>
                          <textarea rows="4" class="form-control" id="project_description"  name="project_description" ><%=project.project_description%></textarea>
                      </div> -->
                      <div id="leftElements">
                        <div class="form-group" >
                            <label for="project_headline">Why?</label>
                            <textarea rows="4" class="form-control" id="project_why"  name="project_why" ><%=project.project_why%></textarea>
                        </div>
                        <div class="form-group" >
                          <label for="project_headline">What?</label>
                          <textarea rows="4" class="form-control" id="project_what"  name="project_what"  ><%=project.project_what%></textarea>
                        
                        </div>
                        <div class="form-group">
                          <label for="start_date">Start Date (YYYY-MM-DD): </label>
                          <input type="text" id="start_date" name="start_date" class="form-control" value="<%= project.start_date ? project.start_date.toISOString().split('T')[0] : '' %>">

                          
                          
                        </div>
                        <div class="form-group">
                          <label for="end_date">End Date (YYYY-MM-DD):</label>
                          <input type="text" id="end_date" name="end_date" class="form-control" value="<%= project.end_date ? project.end_date.toISOString().split('T')[0] : '' %>">
                          
                        </div>
                        <div class="form-group">
                          <label for="datepicker">Next Milestone Date (YYYY-MM-DD):</label>
                          <input type="text" id="next_milestone_date" name="next_milestone_date" class="form-control" value="<%= project.next_milestone_date ? project.next_milestone_date.toISOString().split('T')[0] : '' %>">
                         
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="phase">Phase:</label>
                            <select name="phase_id_fk" id="phase_id_fk" class="form-control">
                              <% phases.forEach(function(phase){ %>
                                <% if (phase.id == project.phase_id_fk) { %>
                                  <option selected value="<%= phase.id %>"><%= phase.phase_name %></option>
                                <% } else { %>
                                  <option value="<%= phase.id %>"><%= phase.phase_name %></option>
                                <% } %>
                              <% }) %>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="priority">Priority:</label>
                            <select name="priority_id_fk" id="priority_id_fk" class="form-control">
                              <% priorities.forEach(function(priority) { %>
                                <%=project.priority_id_fk%>
                                <% if (priority.id == project.priority_id_fk) { %>
                                  <option selected value="<%= priority.id %>"><%= priority.priority_name %></option>
                                <% } else { %>
                                  <option value="<%= priority.id %>"><%= priority.priority_name %></option>
                                <% } %>
                              <% }) %>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="sponsor">Sponsor:</label>
                            <select name="sponsor_id_fk" id="sponsor_id_fk" class="form-control">
                              <% sponsors.forEach(function(sponsor){ %>
                                <% if (sponsor.id == project.sponsor_id_fk) { %>
                                  <option selected value="<%= sponsor.id %>"><%= sponsor.last_name %>, <%= sponsor.first_name %></option>
                                <% } else { %>
                                  <option value="<%= sponsor.id %>"><%= sponsor.last_name %>, <%= sponsor.first_name %></option>
                                <% } %>
                              <% }) %>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="prime">Prime:</label>
                            <select name="prime_id_fk" id="prime_id_fk" class="form-control">
                              <% primes.forEach(function(prime){ %>
                                <% if (prime.id == project.prime_id_fk) { %>
                                  <option selected value="<%= prime.id %>"><%= prime.last_name %>, <%= prime.first_name %></option>
                                <% } else { %>
                                  <option value="<%= prime.id %>"><%= prime.last_name %>, <%= prime.first_name %></option>
                                <% } %>
                              <% }) %>
                            </select>
                          </div>
                        </div>
                      </div>
                     
                    
                     
                      <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="effort">Effort (PH)</label>
                                <input type="text" class="form-control" id="effort" name="effort" style="width:100px;" value="0">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="project_cost">Cost ($)</label>
                                <input type="text" class="form-control" id="project_cost" name="project_cost" style="width:100px;" value="0">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="benefit">Benefit (ROI or $)</label>
                                <input type="text" class="form-control" id="benefit" name="benefit" style="width:100px;" value="0">
                            </div>
                        </div>
                    </div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="impact">Impact:</label>
      <select name="impact" id="impact" class="form-control">
        <% if (project.impact != null && project.impact != undefined) { %>
          <% for (var i = 1; i <= 10; i++) { %>
            <% if (i == project.impact) { %>
              <option selected value="<%= i %>"><%= i %></option>
            <% } else { %>
              <option value="<%= i %>"><%= i %></option>
            <% } %>
          <% } %>
        <% } else { %>
          <% for (var i = 1; i <= 10; i++) { %>
            <option value="<%= i %>"><%= i %></option>
          <% } %>
        <% } %>
      </select>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="complexity">Complexity:</label>
      <select name="complexity" id="complexity" class="form-control">
        <% if (project.complexity != null && project.complexity != undefined) { %>
          <% for (var i = 1; i <= 10; i++) { %>
            <% if (i == project.complexity) { %>
              <option selected value="<%= i %>"><%= i %></option>
            <% } else { %>
              <option value="<%= i %>"><%= i %></option>
            <% } %>
          <% } %>
        <% } else { %>
          <% for (var i = 1; i <= 10; i++) { %>
            <option value="<%= i %>"><%= i %></option>
          <% } %>
        <% } %>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="project_cost">Estimated Cost:</label>
      <input type="text" class="form-control" id="project_cost" name="project_cost" value="<%= project.project_cost %>">
    </div>
  </div>
 
  </div>
</div>
    
</div>                
                      
                    
               
               
        </div>
       
    </div>
</div>
 <!-- Add more rows and columns if needed -->
     <div class="modal-footer">
      <button type="button" class="btn btn-secondary waves-effect" onclick=cancelForm() data-dismiss="modal">Cancel</button>
      <button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#openConfirm" id="btnOpenConfirm">Submit</button>

      <!-- if edit, add delete button -->
      <!-- <button class="btn btn-danger w-md waves-effect waves-light" onClick='openDeleteModal()' type="button">Delete</button> -->
      <!-- if edit, add delete button -->
  </div>

<div id="openConfirm" class="modal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content" style="width: 500px;">
          <div class="modal-header">
              <h5 class="modal-title mt-0" id="personTitle">Are you sure you want to confirm changes?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          </div>

          <div class="modal-body">
              <div class="container mt-4">
                  <h5>Change Log</h5> <!-- This is your heading -->

                  
                      <input type="hidden" name="project_id" id="project_id" value="<%=project.id %>"/>

                      <div class="row">
                          <div class="col-md-12">
                              <!-- Current Date Display -->
                              <div class="form-group">
                                  <p><%= current_date.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %></p>
                              </div>

                              <!-- Change Reason -->
                              <div class="form-group">
                                  <label for="change_reason">Change Reason</label>
                                  
                                  <select class="form-control" id="change_reason" name="change_reason" required>
                                    
                                    <% change_reasons.forEach(function(change_reason){ %>
                                      <option value= "<%= change_reason.id %>"><%= change_reason.change_reason %></option>
                                    <% }) %>
                                  </select>
                                  <div class="invalid-feedback">
                                      Please enter change reason.
                                  </div>
                              </div>

                              <!-- Change Explanation -->
                              <div class="form-group">
                                  <label for="change_explanation">Change Details</label>
                                  <textarea class="form-control" id="change_explanation" name="change_explanation" rows="3" required></textarea>
                                  <div class="invalid-feedback">
                                      Please provide change details.
                                  </div>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>

          <div class="modal-footer">
              <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cancel</button>
              <button class="btn btn-primary w-md waves-effect waves-light" onclick="submitForm()" type="submit">Confirm</button>
          </div>
      </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<%- contentFor('FooterJs') %>

<%- contentFor('BottomJs') %>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    'use strict';

    // Form validation using Bootstrap's custom styles
    var forms = document.querySelectorAll('.needs-validation');
    Array.prototype.slice.call(forms).forEach(function (form) {
        form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
        }, false);
    });

    // Numeric input validation for specific fields
    const numericFields = ['project_cost', 'effort', 'benefit'];
    numericFields.forEach(function(fieldId) {
        document.getElementById(fieldId).addEventListener('keydown', function(event) {
            if (![46, 8, 9, 27, 13, 110, 190].includes(event.keyCode) &&
                !((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105)) &&
                !(event.ctrlKey || event.metaKey)) {
                alert("Only numbers are allowed.")
                event.preventDefault();
            }
        });
    });

    // Table row click navigation to edit page
    document.querySelectorAll(".table tbody tr").forEach(function(row) {
        row.addEventListener('click', function() {
            var id = row.cells[0].textContent;
            window.location.replace('/projects/edit/' + id);
        });
    });

    // Input formatting with commas for project cost and benefit
    ['project_cost', 'benefit'].forEach(function(fieldId) {
       
        document.getElementById(fieldId).addEventListener('input', function () {
          
            let input = this.value.replace(/[^0-9.]/g, '');
            if (input.includes('.')) {
                const parts = input.split('.');
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                input = parts.join('.');
            } else {
                input = input.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
            }
            this.value = input;
        });
    });

    // Dynamic field display based on phase selection
    document.getElementById('phase_id_fk').addEventListener('change', function() {
        var textarea = document.getElementById('pitch_message');
        var hideElements = document.getElementById("otherPhaseFields");
        var leftElements = document.getElementById("leftElements");
        var effort_option = document.getElementById("effort_option");
        var benefit_option = document.getElementById("benefit_option");
        var impact_option = document.getElementById("impact_option");
        var complexity_option = document.getElementById("complexity_option");
        var tags_option = document.getElementById("tags_option");

        if (this.value == '1') {
            textarea.style.display = 'block';
            hideElements.style.display = 'none';
            leftElements.style.display = 'none';
            effort_option.style.display = 'block';
            benefit_option.style.display = 'none';
            impact_option.style.display = 'none';
            complexity_option.style.display = 'none';
            tags_option.style.display = 'none';
        } else {
            textarea.style.display = 'none';
            hideElements.style.display = 'block';
            leftElements.style.display = 'block';
            benefit_option.style.display = 'block';
            impact_option.style.display = 'block';
            complexity_option.style.display = 'block';
            tags_option.style.display = 'block';
        }
    });
});
function submitForm() {
    document.getElementById('editProjectForm').submit();
}
function cancelForm(){
  
  window.location.replace("/projects");
}
</script>