<%- contentFor('HeaderCss') %>

<script src="frappe-gantt.min.js"></script>
<%- contentFor('breadcrumb') %>

<div class="row">
  <div class="col-md-4">
    <button type="button" class="button-menu-mobile open-left waves-effect">
      <i class="ion-navicon"></i>
    </button>
    <h3 class="page-title">Health Check</h3>
    <button
      type="button"
      class="btn btn-primary waves-effect waves-light"
      id="btnPrintPage"
    >
      Download Report
    </button>
  </div>
  <div class="col-md-4">
    <h3
      class="page-title portfolio-title"
      style="color: #34b871; min-width: 600px"
    >
      <%= portfolio_name %>
    </h3>
  </div>
  <div class="col-md-4 text-right">
    <!-- Add any additional content here -->
  </div>
</div>
<%- contentFor('body') %>
<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-lg-12 text-center">
                <div class="card-body" style="border:0px !important;">
                    
                    <div class="table-responsive">
                        <table class="table mb-12">
                            <thead>
                                <tr>
                                    <th>Project</th>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th>NMS</th>
                                    <th>Prime</th>
                                    <th>Sponsor</th>
                                    <td>Issues</td>
                                    <td>Actions</td>
                                    <th>Progress</th>
                                   
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <% let currentPhase = ''; %>
                                <% projects.forEach(project => { %>
                                    <% if (project.phase_name === 'Delivery' || project.phase_name === 'Discovery') { %>
                                    <% if (project.phase_name !== currentPhase) { %>
                                        <% currentPhase = project.phase_name; %>
                                        <tr>
                                        <td colspan="12" style="background-color:#ececec;font-weight: bold; text-align: center;"><%= currentPhase %></td>
                                        </tr>
                                    <% } %>
                                   
                                    <% 
                                         let backgroundColor = '#CCC'; 
                                         let progressColor = '#CCC'; 
                                    %>
                                    <% if (project.health && project.health.toLowerCase().trim() === 'yellow') { %>
                                      <% backgroundColor = '#FFFF00'; 
                                        progressColor = '#FFFF00'; 
                                    %>

                                    <% } else if (project.health && project.health.toLowerCase().trim() === 'green') { %>
                                      <% backgroundColor = '#00FF00'; %> <!-- Green color -->
                                      
                                    <% } else if (project.health && project.health.toLowerCase().trim() === 'red') { %>
                                      <% backgroundColor = '#FF0000'; %> <!-- Red color -->
                                    <% } %>
                                    <tr>

                                        <td style="background-color:<%= backgroundColor %>;color:black;font-weight: bold;">
                                            <%= project.project_name %>&nbsp;<a href="/projects/edit/<%= project.project_id %>"><i class="mdi mdi-border-color"></i></a>
                                        </td>
                                        <td><% if (project.start_date) { %><%= new Date(project.start_date).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %><% } %></td>
                                        <td><% if (project.end_date) { %><%= new Date(project.end_date).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %><% } %></td>
                                        <td><% if (project.next_milestone_date) { %><%= new Date(project.next_milestone_date).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %><% } %></td>
                                        <td><%= project.prime_first_name %> <%= project.prime_last_name %></td>
                                        <td><%= project.sponsor_first_name %> <%= project.sponsor_last_name %></td>
                                        <td><% if (project.last_status) { %><%= project.last_status.issue %><% } %></td>
                                        <td><% if (project.last_status) { %><%= project.last_status.actions %><% } %></td>
                                        <td><% if (project.last_status) { %><%= project.last_status.progress %> %<% } %></td>
                                    </tr>
                                    <% } %>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- contentFor('FooterJs') %>
<%- contentFor('BottomJs') %>
<script>
    // document.getElementById("btnExportHealth").addEventListener("click", function () {
      // Get the projects data from the table
    
    document.getElementById("btnPrintPage").addEventListener("click", function () {
    const portfolioTitleElement = document.querySelector(".portfolio-title");

    if (!portfolioTitleElement) {
      console.error("Portfolio title element not found!");
      return;
    }

    const portfolioName = portfolioTitleElement.textContent.trim();

    // Create a style element for the print header
    const style = document.createElement("style");
    style.setAttribute("type", "text/css");
    style.setAttribute("media", "print");

    // Add CSS for the print header
    const css = `
    @page {
      size: landscape; /* Set page orientation to landscape */
      margin-top: 3cm; /* Adjust top margin to make space for the header */
    }
    body::before {
      content: "${portfolioName}";
      display: block;
      text-align: center; /* Center the header */
      font-weight: bold;
      font-size: 1.5em;
      margin-bottom: 1cm; /* Add space between the header and content */
    }
    #btnPrintPage,
    .button-menu-mobile,
    .page-title,
    .portfolio-title {
      display: none !important; /* Hide these elements during print */
    }
  `;


    style.appendChild(document.createTextNode(css));
    document.head.appendChild(style);

    // Trigger the print dialog
    window.print();

    // Remove the style element after printing
    setTimeout(() => {
      document.head.removeChild(style);
    }, 100); // Short delay to ensure the print dialog is handled
  });
  </script>