<%- contentFor('HeaderCss') %> <%- contentFor('breadcrumb') %> <%-
contentFor('body') %>

<div id="notfound">
  <div class="notfound">
    <div class="notfound-404">
      <h1><%= statusCode %></h1>
    </div>
    <h2>Oops! There was an error loading your page</h2>
    <p><%= errorMessage %></p>
    <a href="/">Go To Homepage</a>
  </div>
</div>

<%- contentFor('FooterJs') %> <%- contentFor('BottomJs') %>
