<%- contentFor('HeaderCss') %>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>

<style>
  canvas {
    background-color: white;
  }
  .green-circle, .yellow-circle, .red-circle {
    display: inline-block;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
  }
  .green-circle {
    background-color: green;
  }
  .yellow-circle {
    background-color: yellow;
  }
  .red-circle {
    background-color: red;
  }
</style>

<%- contentFor('breadcrumb') %>
<ul class="list-inline menu-left mb-0">
  <li class="list-inline-item">
    <button type="button" class="button-menu-mobile open-left waves-effect">
      <i class="ion-navicon"></i>
    </button>
  </li>
  <li class="hide-phone list-inline-item app-search">
    <h3 class="page-title">Cockpit</h3>
  </li>
</ul>

<%- contentFor('body') %>

<div class="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <!-- Left Section: Project Information (8 columns) -->
      <div class="col-8">
        <div class="mini-stat clearfix bg-white">
          <div class="row">
            <div class="col-md-3">
              <div><strong>Name:</strong> <%= project[0].project_name %></div>
            </div>
            <div class="col-md-3">
              <div><strong>Headline:</strong> <%= project[0].project_headline %></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div><strong>Sponsor:</strong> 
                <% if (project[0].sponsor_last_name && project[0].sponsor_first_name) { %>
                  <%= project[0].sponsor_last_name %>, <%= project[0].sponsor_first_name %>
                <% } %>
              </div>
            </div>
            <div class="col-md-3">
              <div><strong>Prime:</strong> 
                <% if (project[0].prime_last_name && project[0].prime_first_name) { %>
                  <%= project[0].prime_last_name %>, <%= project[0].prime_first_name %>
                <% } %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div>
                <strong>Start Date:</strong> 
                <% if (project[0].start_date) { %>
                  <%= project[0].start_date.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %>
                <% } %>
              </div>
            </div>
            <div class="col-md-3">
              <div>
                <strong>End Date:</strong> 
                <% if (project[0].end_date) { %>
                  <%= project[0].end_date.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %>
                <% } %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div>
                <strong>Next Milestone Date:</strong> 
                <% if (project[0].next_milestone_date) { %>
                  <%= project[0].next_milestone_date.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %>
                <% } %>
              </div>
            </div>
            <div class="col-md-3">
              <div>
                <strong>Investment:</strong> $<%= formattedCost %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div>
                <strong>Effort:</strong> <%= project[0].effort %> PH
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" style="padding-top:20px;">
              <strong>Why:</strong>
              <textarea class="form-control" id="project_why" rows="5" disabled><%= project[0].project_why %></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" style="padding-top:20px;">
              <strong>What:</strong>
              <textarea class="form-control" id="project_what" rows="5" disabled><%= project[0].project_what %></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <a href="/projects/edit/<%= project[0].id%>" style="margin-top:20px;">View Project</a>
              <br/>
              <strong> Tags :</strong> <%= project[0].tags %>
              <br/>
              <strong>Change Log:</strong>
            </div>
          </div>
        </div>
      </div>

      <!-- Right Section: Status and Button (4 columns) -->
      <div class="col-4">
        <div class="mini-stat clearfix bg-white">
          <div>
            <strong>Status Updates:</strong><br/>
            <% if (statuses) { %>
              <% statuses.forEach(function(status) { %>
                <% let healthStatus = status.health ? status.health.trim().toLowerCase() : ''; %>
                <% if (healthStatus === 'green') { %>
                  <span class="green-circle"></span>
                <% } else if (healthStatus === 'yellow') { %>
                  <span class="yellow-circle"></span>
                <% } else if (healthStatus === 'red') { %>
                  <span class="red-circle"></span>
                <% } %>
                [<%= status.progress %>%]
                <% if (status.createdAt) { %>
                  <a href="#" onClick="getStatus(<%=status.id%>)" data-target="#viewStatusModal" id="viewStatusLink"><%= status.createdAt.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %></a>
                  
                <% } %>
                <div style="width:100% !important;"><hr/></div>
              <% }); %>
            <% } %>
          </div>
          <button type="button" class="btn btn-primary waves-effect waves-light" syle="padding-top:5px;"data-toggle="modal" data-target="#addStatus" id="btnAddStatus">Add Status Update</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="row"></div>
  <div class="col-md-6 m-t-30">
      <!-- project modal content -->
      <div id="addStatus" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0">Add Status</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <form action="/statuses" class="needs-validation" novalidate method="POST">
                      <input type="hidden" name="project_id" id="project_id" value="<%=project[0].id %>"/>
                      <input type="hidden" name="prime_id_fk" id="prime_id_fk" value="<%=project[0].prime_id_fk %>"/>
                        <div class="row">
                            <div class="col-md-12">
                                <!-- First column of form fields -->
                                <div class="form-group needs-validation" novalidate>
                                  
                                  <strong>Date: </strong><%= current_date.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %><br/>
                                  <strong>Prime:</strong><% if(project[0].prime_last_name) %>
                                  <%=project[0].prime_last_name %>, <%=project[0].prime_first_name %>
                                  
                                
                              </div>
                                
                                <div class="form-group needs-validation" novalidate>
                                  <strong>Accomplishments:</strong><br/>
                                  <textarea class="form-control" id="status_accomplishments" name="status_accomplishments" rows="3"></textarea>
                                
                              </div>
                              <div class="form-group needs-validation" novalidate>
                                <strong>Issues:</strong><br/>
                                <textarea class="form-control" id="issue" name="issue" rows="3"></textarea>
                              
                              </div>
                              <div class="form-group needs-validation" novalidate>
                                <strong>Actions:</strong><br/>
                                <textarea class="form-control" id="action" name="actions" rows="3"></textarea>
                              
                            </div>
                            <div class="form-group needs-validation" novalidate>
                              <strong>Progress:</strong>
                              <input type="text" class="form-control" id="progress"  name="progress" >
                            
                          </div>
                          <div class="form-group needs-validation" novalidate>
                            <strong>Health:</strong>
                            <select name = "health" id = "health">
                                <option value="Green">Green</option>
                                <option value="Yellow">Yellow</option>
                                <option value="Red">Red</option>
                              
                            </select>
                          
                        </div>
                        
                        
                      </div>
                       <!-- Add more rows and columns if needed -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                            <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>
  <div class="row"></div>
  <div class="col-md-6 m-t-30">
      <!-- project modal content -->
      <div id="viewStatusModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="viewStatusModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="viewStatusModalLabel"><strong>View Status</strong></h5>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
              <!-- Modal content goes here -->
              <strong>Date: </strong><%= current_date.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %><br/>
              <strong>Prime:</strong><% if(project[0].prime_last_name) %>
              <%=project[0].prime_last_name %>, <%=project[0].prime_first_name %>
              <div class="form-group">
                <label for="accomplishments"><strong>Accomplishments</strong></label>
                <textarea id="accomplishments" class="form-control" rows="3" disabled></textarea>
              </div>
              <div class="form-group">
                <label for="status_issue"><strong>Issue</strong></label>
                <textarea id="status_issue" class="form-control" rows="3" disabled></textarea>
              </div>
              <div class="form-group">
                <label for="status_action"><strong>Action</strong></label>
                <textarea id="status_action" class="form-control" rows="3" disabled></textarea>
              </div>
              <div class="form-group">
                <label for="status_progress"><strong>Progress</strong></label>
                <input type="text" id="status_progress" class="form-control" disabled>
              </div>
              <div class="form-group">
                <label for="status_health"><strong>Health</strong></label>
                <input type="text" id="status_health" class="form-control" disabled>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal -->
  </div>
 
  
</div>
<%- contentFor('FooterJs') %>
<script src="/public/assets/plugins/peity-chart/jquery.peity.min.js"></script>
<script src="/public/assets/plugins/d3/d3.min.js"></script>
<script src="/public/assets/plugins/c3/c3.min.js"></script>
<script src="/public/assets/plugins/jquery-knob/excanvas.js"></script>
<script src="/public/assets/plugins/jquery-knob/jquery.knob.js"></script>
<script src="/public/assets/pages/dashboard.js"></script>

<%- contentFor('BottomJs') %>
<script>
  function getStatus(id) {
    console.log("ID: ", id);
    fetch(`/statuses/${id}`)
    .then(response => response.json())
    .then(data => {
      //open a popup
     console.log("&&&&&&&&&&&&&&&&&&&&&&&&&&&&data:", data.accomplishments);
     const accomplishmentsElement = document.getElementById('status_accomplishments');
        if (accomplishmentsElement) {
          accomplishmentsElement.value = data.accomplishments;
          console.log("Accomplishments set to:", accomplishmentsElement.value);
        } else {
          console.error("Element with ID 'status_accomplishments' not found.");
        }
        document.getElementById('accomplishments').value = data.accomplishments;
        document.getElementById('status_issue').value = data.issue;
        document.getElementById('status_action').value = data.actions;
        document.getElementById('status_progress').value = data.progress;
        document.getElementById('status_health').value = data.health;

       // Open the modal
       $('#viewStatusModal').modal('show');
    })
    .catch(err => console.error(err));
  }
</script>