<%- contentFor('HeaderCss') %>

<script src="frappe-gantt.min.js"></script>
<link rel="stylesheet" href="frappe-gantt.css">

<%- contentFor('breadcrumb') %>
<ul class="list-inline menu-left mb-0">
    <li class="list-inline-item">
        <button type="button" class="button-menu-mobile open-left waves-effect">
            <i class="ion-navicon"></i>
        </button>
    </li>
    <li class="hide-phone list-inline-item app-search">
        <h3 class="page-title">Flight Plan</h3>
    </li>
</ul>

<%- contentFor('body') %>
<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
              <div class="card-body" style="border:0px !important;">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>Project</th>
                                        <th>Start</th>
                                        <th>End</th>
                                        <th>NMS</th>
                                        <th>Prime</th>
                                        <th>Sponsor</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                  
                                    <% health_data.forEach(function(health) { %>
                                        <% let bgColor; %>
                                        <% if (health.health && health.health.trim() === "Green") { %>
                                          <% bgColor = 'green'; %>
                                        <% } else if (health.health && health.health.trim() === "Yellow") { %>
                                          <% bgColor = 'yellow'; %>
                                        <% } else if (health.health && health.health.trim() === "Red") { %>
                                          <% bgColor = 'red'; %>
                                        <% } %>
                                        
                                        <% if (health.phase_name === 'Discovery') { %>
                                            <tr><td style="background-color:#D0D0D0;color:black;font-size:1.5em;" class="text-center" colspan="8">Discovery</td></tr>
                                        <% } %>
                                        <% if (health.phase_name === 'Delivery') { %>
                                            <tr><td style="background-color:#D0D0D0;color:black;font-size:1.5em;" class="text-center" colspan="8">Delivery</td></tr>
                                        <% } %>
                                        <td style='background-color:<%=bgColor%>;color:white;'><%= health.project_name %></td>
                                            <td><%= new Date(health.start_date).toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: '2-digit' }) %></td>
                                            <td><%= new Date(health.end_date).toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: '2-digit' }) %></td>
                                            <td><%= new Date(health.next_milestone_date).toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: '2-digit' }) %></td>
                                            <td><%= health.prime_last_name %>, <%= health.prime_first_name %></td>
                                            <td><%= health.sponsor_last_name %>, <%= health.sponsor_first_name %></td>
                                      
                                        </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>

<%- contentFor('FooterJs') %>
<%- contentFor('BottomJs') %>
