<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Priority Pilot - your BEST Things done the BEST way at the BEST Time</title>
    <meta content="Prority Pilot" name="description" />
    <meta content="Author" name="Adrian Nadeau" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App Icons -->
    <link
      rel="shortcut icon"
      href="/public/assets/images/favicons/favicon.ico"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/public/assets/images/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/public/assets/images/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/public/assets/images/favicons/favicon-16x16.png"
    />
    <link
      rel="manifest"
      href="/public/assets/images/favicons/site.webmanifest"
    />

   
    <link
  href="/public/assets/css/bootstrap.min.css"
  rel="stylesheet"
  type="text/css"
/>
<link href="/public/assets/css/icons.css" rel="stylesheet" type="text/css" />
<link href="/public/assets/css/style.css" rel="stylesheet" type="text/css" />
<link
  href="/public/assets/plugins/c3/c3.min.css"
  rel="stylesheet"
  type="text/css"
/>
<link
  rel="stylesheet"
  href="https://cdn.dhtmlx.com/gantt/edge/dhtmlxgantt.css"
/>
<script
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js"
></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="http://code.jquery.com/jquery-3.6.0.slim.min.js" crossorigin="anonymous"></script>

<style>
.green-circle, .yellow-circle, .red-circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 6px;
  vertical-align: middle;
}
.green-circle {
  background-color: #28a745; /* Bootstrap green */
}
.yellow-circle {
  background-color: #ffc107; /* Bootstrap yellow */
  border: 1px solid #ccc;
}
.red-circle {
  background-color: #dc3545; /* Bootstrap red */
}
.reference-link {
  display: inline-block;     
  white-space: normal;       
  word-break: break-all;
} 
</style>

  <body class="fixed-left">
    <!-- Loader -->
    <div id="preloader">
      <div id="status"><div class="spinner"></div></div>
    </div>

    <div id="wrapper">
      
        
<div class="left side-menu">
  <!-- LOGO -->
  <div class="topbar-left">
    <h3 class="text-center m-0">
  <!-- Priority Pilot -->
  <a href="/" class="logo logo-admin"
    ><img
      style="width: 80px; height: 80px; padding-top: 10px; padding-right: 10px"
      src="/public/assets/images/sidebar-logo.png"
      alt="logo"
  /></a>
</h3>

  </div>

  <div class="sidebar-inner slimscrollleft">
    <div id="sidebar-menu">
      <ul>
        
        <li class="has_sub">
          <a a href="/" onclick="forwardToDashboard();"
            ><i class="mdi mdi-view-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>

        <!-- <li>
                    <a href="widgets" class="waves-effect"><i class="mdi mdi-cube-outline"></i><span> Widgets </span></a>
                </li> -->

        <!-- <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-email-outline"></i><span> Email <span class="pull-right"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="list-unstyled">
                        <li><a href="email-inbox">Inbox</a></li>
                        <li><a href="email-read">Email Read</a></li>
                        <li><a href="email-compose">Email Compose</a></li>
                    </ul>
                </li> -->

        <!-- <li>
                    <a href="calendar" class="waves-effect"><i class="mdi mdi-calendar-check"></i><span> Calendar </span></a>
                </li> -->

        <!-- <li class="menu-title">Components</li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-buffer"></i> <span> User Interface <span class="pull-right"><i class="mdi mdi-chevron-right"></i></span> </span> </a>
                    <ul class="list-unstyled">
                        <li><a href="ui-buttons">Buttons</a></li>
                        <li><a href="ui-colors">Colors</a></li>
                        <li><a href="ui-cards">Cards</a></li>
                        <li><a href="ui-tabs-accordions">Tabs &amp; Accordions</a></li>
                        <li><a href="ui-modals">Modals</a></li>
                        <li><a href="ui-images">Images</a></li>
                        <li><a href="ui-alerts">Alerts</a></li>
                        <li><a href="ui-progressbars">Progress Bars</a></li>
                        <li><a href="ui-dropdowns">Dropdowns</a></li>
                        <li><a href="ui-lightbox">Lightbox</a></li>
                        <li><a href="ui-navs">Navs</a></li>
                        <li><a href="ui-pagination">Pagination</a></li>
                        <li><a href="ui-popover-tooltips">Popover & Tooltips</a></li>
                        <li><a href="ui-badge">Badge</a></li>
                        <li><a href="ui-carousel">Carousel</a></li>
                        <li><a href="ui-video">Video</a></li>
                        <li><a href="ui-typography">Typography</a></li>
                        <li><a href="ui-sweet-alert">Sweet-Alert</a></li>
                        <li><a href="ui-grid">Grid</a></li>
                        <li><a href="ui-animation">Animation</a></li>
                        <li><a href="ui-highlight">Highlight</a></li>
                        <li><a href="ui-rating">Rating</a></li>
                        <li><a href="ui-nestable">Nestable</a></li>
                        <li><a href="ui-alertify">Alertify</a></li>
                        <li><a href="ui-rangeslider">Range Slider</a></li>
                        <li><a href="ui-sessiontimeout">Session Timeout</a></li>
                    </ul>
                </li> -->
                    <li>
                        <a href="/projects" class="waves-effect"
                          ><i class="mdi mdi-clipboard-outline"></i><span> Projects </span></a
                        >
                      </li>
                      <li>
                        <a href="/persons" class="waves-effect"
                          ><i class="mdi mdi-account-location"></i><span> People </span></a
                        >
                      </li>
                      <li>
                        <a href="/companies/get/defaults" class="waves-effect"
                          ><i class="dripicons-gear"></i><span> Defaults </span></a
                        >
                      </li>
                      <!-- <li>
                        <a href="/companies/get/defaults" class="waves-effect"
                          ><i class="mdi mdi-folder-multiple-outline"></i><span> Sample Project </span></a>
                        >
                      </li> -->
                      
                  <li class="has_sub">
                    <a href="/help" class="waves-effect" onclick="window.open('/help');return false;" target="_blank">
                      <i class="mdi mdi-help"></i> <span> Help </span>
                    </a>
                  </li>
                 
        </ul>
                  
        
        
      
    </div>
    <div class="clearfix"></div>
  </div>
  <!-- end sidebarinner -->
</div>
<script>
  function forwardToDashboard() {
    window.location.replace("/");
  }

</script>
      
      <div class="content-page">
        <div class="content">
          <div class="topbar">
  <nav class="navbar-custom">
    <!-- Search input -->
    <div class="search-wrap" id="search-wrap">
      <div class="search-bar">
        <input class="search-input" type="search" placeholder="Search" />
        <a
          href="#"
          class="close-search toggle-search"
          data-target="#search-wrap"
        >
          <i class="mdi mdi-close-circle"></i>
        </a>
      </div>
    </div>

    
    <ul class="list-inline float-right mb-0">
      <!-- Search -->
      <!-- <li class="list-inline-item dropdown notification-list">
        <a
          class="nav-link waves-effect toggle-search"
          href="#"
          data-target="#search-wrap"
        >
          <i class="mdi mdi-magnify noti-icon"></i>
        </a>
      </li> -->
      <!-- Fullscreen -->
      <li class="list-inline-item dropdown notification-list hidden-xs-down">
        <a class="nav-link waves-effect" href="#" id="btn-fullscreen">
          <i class="mdi mdi-fullscreen noti-icon"></i>
        </a>
      </li>
      <!-- language-->

      <!-- User-->
      <li class="list-inline-item dropdown notification-list">
        <a
          class="nav-link dropdown-toggle arrow-none waves-effect nav-user"
          data-toggle="dropdown"
          href="#"
          role="button"
          aria-haspopup="false"
          aria-expanded="false"
        >
          <img
            src="/public/assets/images/users/empty-avatar.webp"
            alt="user"
            class="rounded-circle"
          />
        </a>
        <div class="dropdown-menu dropdown-menu-right profile-dropdown">
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"
            ><i class="mdi mdi-account-location"></i> Demo Admin</a
          >
          <a class="dropdown-item" href="/logout"
            ><i class="dripicons-exit text-muted"></i> Logout</a
          >
        </div>
      </li>
    </ul>
    

    <!-- Navigation bar with proper navbar-custom styling -->
    <div class="topbar">
      <nav class="navbar-custom">
        <div class="page-title-box">
          <button type="button" class="button-menu-mobile open-left waves-effect">
            <i class="ion-navicon"></i>
          </button>
          <h3 class="page-title"><%= pageTitle %></h3>
        </div>
      </nav>
    </div>


    <div class="clearfix"></div>
  </nav>
</div>

        <div class="content">
          
<div class="page-content-wrapper">
  <div class="container-fluid">
    
    <div class="row">
      <div class="col-lg-12">
        <div class="card-body" style="border:0px !important;">
            
    <div class="row">
      <!-- Left Section: Project Information (8 columns) -->
      <div class="col-8">
        <div class="mini-stat clearfix bg-white " style="padding: 15px;" >
          <div class="row">
            <div class="col-md-3">
              <div style="margin-left: 8px; font-size: 16px;"><strong>Name:</strong> <%= project[0].project_name %></div>
            </div>
            <div class="col-md-8">
              <div style="margin-left: 8px; font-size: 16px;"><strong>Headline:</strong> <%= project[0].project_headline %></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div style="margin-left: 8px; font-size: 16px;"><strong>Sponsor:</strong> 
                <% if (project[0].sponsor_last_name && project[0].sponsor_first_name) { %>
                  <%= project[0].sponsor_last_name %>, <%= project[0].sponsor_first_name %>
                <% } %>
              </div>
            </div>
            <div class="col-md-3">
              <div style="margin-left: 8px; font-size: 16px;"><strong>Prime:</strong> 
                <% if (project[0].prime_last_name && project[0].prime_first_name) { %>
                  <%= project[0].prime_last_name %>, <%= project[0].prime_first_name %>
                <% } %>
              </div>
            </div>
            <div class="col-md-3">
              <div style="margin-left: 8px; font-size: 16px;"><strong>Phase:</strong> 
                <% if (project[0].phase_name) { %>
                  <%= project[0].phase_name %>
                <% } %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <i class="mdi mdi-calendar-start" style="color: #007bff; margin-right: 8px; font-size: 16px;"></i>
                <div>
                  <strong>Start:</strong> 
                  <% if (project[0].start_date) { %>
                    <%= project[0].start_date.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %>
                  <% } %>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <i class="mdi mdi-calendar-end" style="color: #dc3545; margin-right: 8px; font-size: 16px;"></i>
                <div>
                  <strong>End:</strong> 
                  <% if (project[0].end_date) { %>
                    <%= project[0].end_date.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %>
                  <% } %>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <i style="color: #ffc107; margin-right: 8px; font-size: 16px;"></i>
                <div>
                  <strong>Next Milestone:</strong> 
                  <% if (project[0].next_milestone_date) { %>
                    <%= project[0].next_milestone_date.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %>
                    <% if (project[0].next_milestone_date && project[0].next_milestone_date_details) { %>
                      <br/><small style="color: #6c757d; font-size: 12px;"><%= project[0].next_milestone_date_details %></small>
                    <% } %>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Next Milestone Details Row -->
          <% if (project[0].next_milestone_date && project[0].next_milestone_details) { %>
          <div class="row">
            <div class="col-md-12">
              <div style="margin-left: 10px; margin-bottom: 15px;">
                <div style="display: flex; align-items: flex-start;">
                  <i class="mdi mdi-information-outline" style="color: #ffc107; margin-right: 8px; font-size: 16px; margin-top: 2px;"></i>
                  <div>
                    <strong>Milestone Details:</strong><br/>
                    <span style="color: #6c757d; font-size: 14px; line-height: 1.4;">
                      <%= project[0].next_milestone_details ? project[0].next_milestone_details.substring(0, 100) + (project[0].next_milestone_details.length > 100 ? '...' : '') : '' %>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
          <div class="row">
            <div class="col-md-3">
              <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <i style=" margin-right: 8px; font-size: 16px;"></i>
                <div>
                  <strong>Cost:</strong> $<%= project[0].project_cost %>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <i class="mdi mdi-clock-outline" style="color: #6f42c1; margin-right: 8px; font-size: 16px;"></i>
                <div>
                  <strong>Effort:</strong> <%= project[0].effort %> PH
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <i style="color: #fd7e14; margin-right: 8px; font-size: 16px;"></i>
                <div>
                  <strong>Benefit:</strong> <%= project[0].benefit %>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-12" style="padding-top:20px;">
              <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <i style="color: #17a2b8; margin-right: 8px; font-size: 18px;"></i>
                <strong>Why:</strong>
              </div>
              <textarea class="form-control" id="project_why" rows="5" disabled><%= project[0].project_why %></textarea>
              
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" style="padding-top:20px;">
              <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <i style="color: #ffc107; margin-right: 8px; font-size: 18px;"></i>
                <strong>What:</strong>
              </div>
              <textarea class="form-control" id="project_what" rows="5" disabled><%= project[0].project_what %></textarea>
              <% 
              let tags = [];
              if (project[0].tag_1_name && project[0].tag_1_name !== "done") {
                tags.push(project[0].tag_1_name);
              }
              if (project[0].tag_2_name && project[0].tag_2_name !== "done") {
                tags.push(project[0].tag_2_name);
              }
              if (project[0].tag_3_name && project[0].tag_3_name !== "done") {
                tags.push(project[0].tag_3_name);
              }
            %>
            
            <strong>Tags:</strong> 
            <% if (tags) { %>
             <%= tags.join(', ') %>
            <% } %>
            <br/>
           
           
           <strong>Reference:</strong>
           <% if (project[0].reference) { %>
            <div>
             
                
                <a href="<%= project[0].reference %>" target="_blank" style="display: inline-block; white-space: normal; word-break: break-all;
                ">
                  <%= project[0].reference %>
                </a>
              
            </div>
          <% } %>
         

            </div>
           
          </div>
          </div> 
          </div>
          
          <!-- Right Section: Status and Button (4 columns) -->
          <div class="col-4">
            <div class="mini-stat clearfix bg-white" style="padding-top: 10px;padding-left: 10px;padding-bottom: 15px;">
              <!-- Status Updates and Change Log content -->
              <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <i class="mdi mdi-update" style="color: #007bff; margin-right: 8px; font-size: 18px;"></i>
                <strong>Status Updates:</strong>
              </div>
           <% if (statuses && statuses.length > 0) { %>
          <% statuses.forEach(function(status) { %>
            <% let healthStatus = status.health ? status.health.trim().toLowerCase() : ''; %>
            <% if (healthStatus === 'green') { %>
              <i class="mdi mdi-heart-pulse" style="color: #28a745; margin-right: 8px; font-size: 16px; vertical-align: middle;"></i>
            <% } else if (healthStatus === 'yellow') { %>
              <i class="mdi mdi-heart-pulse" style="color: #ffc107; margin-right: 8px; font-size: 16px; vertical-align: middle;"></i>
            <% } else if (healthStatus === 'red') { %>
              <i class="mdi mdi-heart-pulse" style="color: #dc3545; margin-right: 8px; font-size: 16px; vertical-align: middle;"></i>
            <% } else { %>
              <i class="mdi mdi-heart-pulse" style="color: #6c757d; margin-right: 8px; font-size: 16px; vertical-align: middle;"></i>
            <% } %>
            <i style="color: <%= healthStatus === 'green' ? '#28a745' : healthStatus === 'yellow' ? '#ffc107' : healthStatus === 'red' ? '#dc3545' : '#6c757d' %>; margin-right: 4px; font-size: 14px;"></i>[%<%= status.progress %>]
          <% if (status.status_date) { %>
            <a href="#" onClick="getStatus(event, '<%= status.id %>')" data-target="#viewStatusModal" id="viewStatusLink">
              <%= (() => {
                const parsedStatusDate = new Date(status.status_date);
                const adjustedStatusDate = new Date(
                  parsedStatusDate.getTime() + parsedStatusDate.getTimezoneOffset() * 60000
                );
                return adjustedStatusDate.toISOString().split("T")[0]; // Format to yyyy-mm-dd
              })() %>
            </a>
          <% } %>
          <br/>
        <% }); %>
      <% } else { %>
        <p>No status updates available</p>
      <% } %>
      <br/>
      <% if (project[0].phase_id_fk != "1") { %>
        <button type="button" class="btn btn-primary waves-effect waves-light" style="padding-top:5px;" data-toggle="modal" data-target="#addStatus" id="btnAddStatus">Add Status Update</button>
      <% } %>
          <br/><br/>
        <strong>Change Log:</strong>
                <br/>
              <% if (changed_projects && changed_projects.length > 0) { %>
                <% changed_projects.forEach(function(change) { %>
                  <a href="#" onClick="getChange(event, <%= change.id %>)" data-target="#viewChangeModal" id="viewChangeLink">
                    <%= new Date(change.createdAt).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %>
                    <% if (changeReasonMap && changeReasonMap[change.change_reason_id_fk]) { %>
                      - <%= changeReasonMap[change.change_reason_id_fk] %>
                    <% } else if (change.change_explanation) { %>
                      - <%= change.change_explanation %>
                    <% } %>
                  </a>
                  <br/>
                <% }); %>
              <% } %>
            <br/>
            <div class="row">
   
              <!-- <a href="/projects/edit/<%= project[0].id%>" style="margin-top:20px;">Change Project</a> -->
               
              <a href="/projects/edit/<%= project[0].id %>" 
                class="btn btn-primary waves-effect waves-light" 
                style="padding-top:5px; margin-left: 15px;" 
                id="btnAddStatus">
                 Change Project
             </a>
             
              <br/>
          </div>
          
         
        </div>
      </div>
    </div>
  </div>
</div>
</div>

</div>

<div class="row">
  <div class="col-md-6 m-t-30">
      <!-- project modal content -->
      <div id="addStatus" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0">Add Status</h5>
                    <button type="button" class="close" data-dismiss="modal" >×</button>
                </div>
                <div class="modal-body">
                    <form action="/statuses" class="needs-validation" novalidate method="POST">
                      <input type="hidden" name="prime_only" value="n">
                      <input type="hidden" name="project_id" name = "project_id" id="project_id" value="<%=project[0].id %>"/>
                      <input type="hidden" name="prime_id_fk" id="prime_id_fk" value="<%=project[0].prime_id_fk %>"/>
                        <div class="row">
                            <div class="col-md-12">
                                <!-- First column of form fields -->
                                <div class="form-group needs-validation" novalidate>
                                  <strong>Status Date: </strong>
                                  <input type="date" style="width:150px;" required class="form-control" id="status_date" name="status_date">
                                  <div class="invalid-feedback">
                                    Please Status Date.
                                  </div>
                                 
                                  
                                  <strong>Prime:</strong><% if(project[0].prime_last_name) %>
                                  <%=project[0].prime_last_name %>, <%=project[0].prime_first_name %>
                                  
                                
                              </div>
                                
                                <div class="form-group needs-validation" required  novalidate>
                                  <strong>Accomplishments:</strong><br/>
                                  <textarea class="form-control" maxlength="3000" id="status_accomplishments" required name="status_accomplishments" rows="3"></textarea>
                                  <div class="invalid-feedback">
                                    Please enter Accomplishments.
                                  </div>
                              </div>
                              <div class="form-group needs-validation" novalidate >
                                <strong>Issues:</strong><br/>
                                <textarea class="form-control" id="issue" maxlength="3000" required name="issue" rows="3"></textarea>
                                <div class="invalid-feedback">
                                  Please enter Issues.
                                </div>
                              </div>
                              <div class="form-group needs-validation"  novalidate>
                                <strong>Actions:</strong><br/>
                                <textarea class="form-control" id="actions" maxlength="3000" name="actions" rows="3" required></textarea>
                                <div class="invalid-feedback">
                                  Please enter Actions.
                                </div>
                            </div>
                            </div>
                           <!-- Add the dropdown for progress -->
                            <div class="form-group needs-validation" style="margin-left:10px;" novalidate>
                              % <strong>Progress:</strong>
                              <select style="width:100px !important;" class="form-control" id="progress" name="progress">
                                <% for (let i = 5; i <= 100; i+=5) { %>
                                  <option value="<%= i %>"><%= i %></option>
                                <% } %>
                              </select>
                              <div class="invalid-feedback">
                                Please select a progress value.
                              </div>
                            </div>
                          <div class="form-group needs-validation" style="margin-left:10px;"  novalidate>
                            <strong>Health:</strong>
                            <select style="width:100px !important;" class="form-control" id="health" name="health">
                            
                                <option value="Green">Green</option>
                                <option value="Yellow">Yellow</option>
                                <option value="Red">Red</option>
                              
                            </select>
                          
                        </div>
                        
                        
                      </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary waves-effect" id="submitStatusButton">Submit</button>
                            
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>
 
  <div class="row"></div>
  <div class="col-md-6 m-t-30">
      <!-- project modal content -->
      <div id="viewChangeModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="viewChangeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="viewChangeModalLabel"><strong>View Change</strong></h5>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
              <!-- Modal content goes here -->
              <strong>Date: </strong><span id="view_change_date"></span><br/>
              <strong>Prime:</strong><% if(project[0].prime_last_name) %>
              <%=project[0].prime_last_name %>, <%=project[0].prime_first_name %>
              <div class="form-group">
                <label for="change_reason"><strong>Change Reason</strong></label>
                <textarea id="change_reason" name="change_reason" class="form-control" rows="3" disabled></textarea>
              </div>
              <div class="form-group">
                <label for="change_explanation"><strong>Change Details</strong></label>
                <textarea id="change_explanation" class="form-control" rows="3" disabled></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal -->
     
  </div>
  <div id="viewStatusModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="viewStatusModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="viewStatusModalLabel"><strong>View Status</strong></h5>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body">
          <!-- Modal content goes here -->
          <strong>Project Name:</strong> <%= project[0].project_name %><br/>
          <strong>Date: </strong><span id="view_status_date" style="width:100px"></span><br/>
          
            <% if(project[0].status_date) %>
            <%=project[0].status_date %> <%=project[0].status_date %>
          <strong>Prime:</strong><% if(project[0].prime_last_name) %>
          <%=project[0].prime_last_name %>, <%=project[0].prime_first_name %>
          <div class="form-group">
            <label for="status_accomplishments"><strong>Accomplishments:</strong></label>
            <textarea id="view_status_accomplishments" class="form-control" rows="3" disabled></textarea>
          </div>
          <div class="form-group">
            <label for="status_issue"><strong>Issue</strong></label>
            <textarea id="view_status_issue" class="form-control" rows="3" disabled></textarea>
          </div>
          
          <div class="form-group">
            <label for="status_action"><strong>Action</strong></label>
            <textarea id="view_status_action" class="form-control" rows="3" disabled></textarea>
          </div>
          <div class="form-group">
            <label for="status_progress"><strong>Progress</strong></label>
            <input type="text" id="view_status_progress" class="form-control" disabled>
          </div>
          <div class="form-group">
            <label for="status_health"><strong>Health</strong></label>
            <input type="text" id="view_status_health" class="form-control" disabled>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div><!-- /.modal -->

        </div>
      </div>
    </div>
  </div>
</div>
 

<!-- Add the missing input elements -->
<input type="text" id="view_status_accomplishments" class="form-control no-border" style="background-color:#f5f5f5;height:0px;" disabled>
<input type="text" id="view_status_issue" class="form-control no-border" style="background-color:#f5f5f5;height:0px;" disabled>
<input type="text" id="view_status_action" class="form-control no-border" style="background-color:#f5f5f5;height:0px;"  disabled>
<input type="text" id="view_status_date" class="form-control no-border" style="background-color:#f5f5f5;height:0px;"  disabled>

<script src="/public/assets/plugins/peity-chart/jquery.peity.min.js"></script>
<script src="/public/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/public/assets/plugins/d3/d3.min.js"></script>
<script src="/public/assets/plugins/c3/c3.min.js"></script>
<script src="/public/assets/plugins/jquery-knob/excanvas.js"></script>
<script src="/public/assets/plugins/jquery-knob/jquery.knob.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script> 
  document.addEventListener("DOMContentLoaded", function() {
(function () {
    'use strict'
  
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')
  
    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
  
          form.classList.add('was-validated')
        }, false)
      })
  })()
    const submitButton = document.getElementById('submitStatusButton');
    if (!submitButton) {
      console.error("Submit button not found!");
      return;
    }


    submitButton.onclick = function() {
      let isValid = true;
      // Get the form
      const form = document.querySelector('#addStatus form');
      const statusDate = form.querySelector('#status_date');
      //reset form to remove values in the fields
      const statusAccomplishments = form.querySelector('#status_accomplishments');
      const statusActions = form.querySelector('#actions');
      const statusIssue = form.querySelector('#issue');

      // Parse and adjust the status_date to ensure correct timezone handling
    const parsedStatusDate = new Date(statusDate);
    const adjustedStatusDate = new Date(
      parsedStatusDate.getTime() + parsedStatusDate.getTimezoneOffset() * 60000,
    );
     
    
      if (!statusDate.value) {
        // alert("Please select a date");
        isValid = false;
        // return false;
      }
      if (!statusAccomplishments.value) {
        isValid = false;
      }
      if (!statusActions.value) {
        isValid = false;
      }
      if (!statusIssue.value) {
        isValid = false;
      }
      // Form validation
      if (isValid) {
        
          form.submit();
      
      } else {
        form.classList.add('was-validated');
      }
     
      
    };
    
  });
  
  function getStatus(event, id) {
  event.preventDefault();
  // Reset the fields before fetching new data
  document.getElementById('view_status_accomplishments').value = '';
  document.getElementById('view_status_issue').value = '';
  document.getElementById('view_status_action').value = '';
  document.getElementById('view_status_progress').value = '';
  document.getElementById('view_status_health').value = '';
  document.getElementById('view_status_date').innerText = '';

  
  fetch(`/statuses/${id}`)
    .then(response => {
      if (!response.ok) {
        throw new Error(`HTTP error! status: ${response.status}`);
      }
      return response.json();
    })
    .then(data => {
    
      if (data.accomplishments) document.getElementById('view_status_accomplishments').value = data.accomplishments;
      if (data.issue) document.getElementById('view_status_issue').value = data.issue;
      if (data.actions) document.getElementById('view_status_action').value = data.actions;
      if (data.progress) document.getElementById('view_status_progress').value = data.progress;
      if (data.health) document.getElementById('view_status_health').value = data.health;
      if (data.status_date) {
        // Parse and adjust the status_date to ensure correct timezone handling
        const parsedStatusDate = new Date(data.status_date);
        const adjustedStatusDate = new Date(
          parsedStatusDate.getTime() + parsedStatusDate.getTimezoneOffset() * 60000,
        );

        // Format adjustedStatusDate to yyyy-mm-dd
        const formattedStatusDate = adjustedStatusDate.toISOString().split("T")[0];
        
        document.getElementById('view_status_date').innerText = formattedStatusDate;
      }

      // Open the modal
      $('#viewStatusModal').modal('show');
    })
    .catch(err => console.error("Error fetching status data:", err));
}
  
function getChange(event, id) {
  event.preventDefault(); // Prevent the default link behavior
 

  fetch(`/changed_projects/changedlog/${id}/`)
    .then(response => {
      if (!response.ok) {
        throw new Error(`HTTP error! status: ${response.status}`);
      }
      return response.json();
    })
    .then(data => {
      

      fetch(`/change_reason/${data.change_reason_id_fk}/`)
        .then(reasonResponse => {
          if (!reasonResponse.ok) {
            throw new Error(`HTTP error! status: ${reasonResponse.status}`);
          }
          return reasonResponse.json();
        })
        .then(reasonData => {
          console.log("Reason Data:", reasonData);
          document.getElementById('change_reason').value = reasonData.change_reason;
          document.getElementById('change_explanation').value = data.change_explanation;
          document.getElementById('view_change_date').innerText = new Date(data.createdAt).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' });

          // Open the modal
         
          $('#viewChangeModal').modal('show');
        })
        .catch(err => console.error("Error fetching change reason:", err));
    })
    .catch(err => console.error("Error fetching change data:", err));
}
</script>

        </div>
        <footer class="footer">
  2025 Priority Pilot
  <br />[Version: 1.0.0]
</footer>

      </div>
    </div>

    <script src="/public/assets/js/jquery.min.js"></script>
<script src="/public/assets/js/bootstrap.bundle.min.js"></script>
<script src="/public/assets/js/modernizr.min.js"></script>
<script src="/public/assets/js/jquery.slimscroll.js"></script>
<script src="/public/assets/js/waves.js"></script>
<script src="/public/assets/js/jquery.nicescroll.js"></script>
<script src="/public/assets/js/jquery.scrollTo.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>

<script src="https://unpkg.com/js-datepicker"></script>

<!-- Flatpickr JS -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/moment"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<script src="https://cdn.dhtmlx.com/gantt/edge/dhtmlxgantt.js"></script>

<script>
  // Push a custom state to the history stack
  history.pushState(null, "", window.location.href);

  window.addEventListener("popstate", function (event) {
    // Redirect to the root URL when the back button is pressed
    window.location.href = "/";
  });
</script>

    <script src="/public/assets/js/app.js"></script>
    <script src="/utils/dateUtils.js"></script>

    
  </body>
</html>

