<%- contentFor('HeaderCss') %>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>

<style>
  canvas {
      background-color: white;
  }
  .green-circle, .yellow-circle, .red-circle {
            display: inline-block;  /* Allows the span to have width and height */
            width: 10px !important;   /* Diameter of the circle with !important */
            height: 10px !important;  /* Diameter of the circle with !important */
            border-radius: 50%;      /* Makes the span a circle */
        }
        .green-circle {
            background-color: green; /* Color of the circle */
        }
        .yellow-circle {
            background-color: yellow; /* Color of the circle */
        }
        .red-circle {
            background-color: red; /* Color of the circle */
        }
</style>

<%- contentFor('breadcrumb') %>
<ul class="list-inline menu-left mb-0">
    <li class="list-inline-item">
        <button type="button" class="button-menu-mobile open-left waves-effect">
            <i class="ion-navicon"></i>
        </button>
    </li>
    <li class="hide-phone list-inline-item app-search" >
        <h3 class="page-title">Cockpit</h3>
    </li>
</ul>

<%- contentFor('body') %>

<div class="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-8">
        <div class="mini-stat clearfix bg-white">
          <div>
            <strong>Name:</strong> <%=project.project_name%>
          </div>
          <div>
            <strong>Headline:</strong> <%=project.project_headline %>
          </div>
          <div>
            <strong>Sponsor:</strong> 
            <% if(project.sponsor_last_name){ %>
                <%=project.sponsor_last_name %>, <%=project.sponsor_last_name %>
            <%}%>
           
            </div>
          <div>
            <strong>Prime:</strong> 
            <% if(project.prime_last_name){ %>
                <%=project.prime_last_name %>, <%=project.prime_first_name %>
            <%}%>
            
          </div>
          <div>
            <strong>Start:</strong> 
            <% if(project.start_date){ %>
              <%= project.start_date.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %>
            <%}%>
        </div>
          
         
        <div>
          <strong>End:</strong> 
          <% if(project.end_date){ %>
            <%= project.end_date.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %>
          <%}%>
      </div>
        
        <div>
          <div>
          <strong>Next Milestone Date:</strong> 
          <% if(project.next_milestone_date){ %>
            <%= project.next_milestone_date.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %>
          <%}%>
        
        
        </div>
       
          <div>
            <strong>Investment:</strong>
            
              $<%=formattedCost %>
          
          </div>
          <div>
            <strong>Effort:</strong>
            <%=project.effort %> PH
               
          
          </div>
          <div style="padding-top:20px;">
            
            <strong>Why:</strong>
            <textarea class="form-control" id="project_why" rows="3" disabled><%=project.project_why %>
            </textarea>
          
          </div>
          <div style="padding-top:20px;">
            
            <strong>What:</strong>
            <textarea class="form-control" id="project_what" rows="3" disabled><%=project.project_what %> 
            </textarea>
           
          </div>
          <div>
           <!-- tags -->
            
          </div>
         
        </div>
       
        <div class="clearfix"></div>
      </div>
      
    
    </div>
      
    <div class="col-4">
      
      
      <input type="hidden" id="prime_id_fk" name="prime_id_fk" value="<%=project.prime_id_fk %>"/>

      
      <div class="mini-stat clearfix bg-white" style="min-height: 680px;">
        
         
      
        <div class="mini-stat-info">
        
          
        </div>
        <br/>
        
        
       <!-- Right here for dates -->
     
    
     

</div>



<%- contentFor('FooterJs') %>
<script src="/public/assets/plugins/peity-chart/jquery.peity.min.js"></script>
<!--C3 Chart-->
<script src="/public/assets/plugins/d3/d3.min.js"></script>
<script src="/public/assets/plugins/c3/c3.min.js"></script>
<!-- KNOB JS -->
<script src="/public/assets/plugins/jquery-knob/excanvas.js"></script>
<script src="/public/assets/plugins/jquery-knob/jquery.knob.js"></script>
<!-- Page specific js -->
<script src="/public/assets/pages/dashboard.js"></script>

 <%- contentFor('BottomJs') %>




 
 
