<%- contentFor('HeaderCss') %>
<!-- Bootstrap CSS -->
<style>
  #pitch_message {
      display: none;
  }
</style>

<%- contentFor('breadcrumb') %>
<ul class="list-inline menu-left mb-0">
    <li class="list-inline-item">
        <button type="button" class="button-menu-mobile open-left waves-effect">
            <i class="ion-navicon"></i>
        </button>
    </li>
    
    <li class="hide-phone list-inline-item app-search">
        <h3 class="page-title">Projects</h3>
        <button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#addProject" id="btnAddProject">Add Project</button>
        
    </li>
</ul>

<%- contentFor('body') %>
<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
              <div class="card-body" style="border:0px !important;">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Prime</th>
                                        <th>Sponsor</th>
                                        <th>Start</th>
                                        <th>End</th>
                                        
                                        <th>Phase</th>
                                        <th>Cost</th>
                                    </tr>
                                </thead>
                               
                                <% projects.forEach(function(project) { %>
                                  <tbody>
                                      <tr style="cursor: pointer;">
                                        <input type="hidden" name="project_id" value = "<%= project.id %>"/>
                                        <td><%= project.id %></td>
                                        <td><%= project.project_name %></td>

                                        <% if(project.prime_last_name){ %>
                                            <td><%= project.prime_last_name %>, <%= project.prime_first_name %> </td>
                                        <% } else { %>
                                            <td>N/A</td>
                                        <% } %>

                                        <% if(project.sponsor_last_name){ %>
                                          <td><%= project.sponsor_last_name %>, <%= project.sponsor_first_name %> </td>
                                        <% } else { %>
                                          <td>N/A</td>
                                        <% } %>
                                       
                                        
                                        <td>
                                          <% if(project.start_date){ %>
                                              <%= project.start_date.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %>
                                            <%}%>
                                       </td>
                                       <td>
                                        <% if(project.end_date){ %>
                                            <%= project.end_date.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %>
                                          <%}%>
                                     </td>
                                        
                                        <td><%= project.phase_name %></td>
                                        <td><%= project.project_cost %></td>
                                        
                                      </tr>
                                  </tbody>
                              <% }); %>
                              
                             
                            </table>
                        </div>
                      </div>
                    </div>
                </otdiv>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 m-t-30">
                <!-- project modal content -->
                <div id="addProject" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content" style="width: 900px;">
                          <div class="modal-header">
                              <h5 class="modal-title mt-0">Add Project</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          </div>
                          <div class="modal-body">
                              <form action="/projects" class="needs-validation" novalidate method="POST">
                                <div class="container">
                                  <div class="row">
                                    <div class="col-md-6">
                                      <!-- First column of form fields -->
                                      <div class="form-group">
                                        <label for="project_name">Name</label>
                                        <input type="text" class="form-control" id="project_name" name="project_name" required>
                                        <div class="invalid-feedback">
                                          Please enter project name.
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label for="project_headline">Headline</label>
                                        <input type="text" class="form-control" id="project_headline" name="project_headline">
                                      </div>
                                     
                                        <div class="form-group">
                                          <label for="project_why">Why?</label>
                                          <textarea rows="4" class="form-control" id="project_why" name="project_why"></textarea>
                                        </div>
                                        <div class="form-group">
                                          <label for="project_what">What?</label>
                                          <textarea rows="4" class="form-control" id="project_what" name="project_what"></textarea>
                                        </div>
                                       <div id="leftElements">
                                          <div class="form-group">
                                            
                                            
                                            <label for="start_date">Start Date (YYYY-MM-DD):</label>
                                            <input type="text" class="form-control" id="start_date" name="start_date" placeholder="yyyy-mm-dd">
                                          </div>
                                          <div class="form-group">
                                            <label for="end_date">End Date (YYYY-MM-DD):</label>
                                            <input type="text" class="form-control" id="end_date" name="end_date" placeholder="yyyy-mm-dd">
                                          </div>
                                          <div class="form-group">
                                            <label for="next_milestone_date">Next Milestone Date (YYYY-MM-DD):</label>
                                            <input type="text" class="form-control" id="next_milestone_date" name="next_milestone_date" placeholder="yyyy-mm-dd">
                                          </div>
                                        </div>
                                      </div>
                                    
                                
                                    <div class="col-md-6">
                                      <!-- Second column of form fields -->
                                      <div class="row">
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <label for="phase">Phase:</label>
                                            <select name="phase_id_fk" id="phase_id_fk" class="form-control">
                                              <% phases.forEach(function(phase){ %>
                                                <option value="<%= phase.id %>"><%= phase.phase_name %></option>
                                              <% }) %>
                                            </select>
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <label for="priority">Priority:</label>
                                            <select name="priority_id_fk" id="priority_id_fk" class="form-control">
                                              <% priorities.forEach(function(priority){ %>
                                                <option value="<%= priority.id %>"><%= priority.priority_name %></option>
                                              <% }) %>
                                            </select>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <label for="sponsor">Sponsor:</label>
                                            <select name="sponsor_id_fk" id="sponsor_id_fk" class="form-control">
                                              <% sponsors.forEach(function(sponsor){ %>
                                                <option value="<%= sponsor.id %>"><%= sponsor.last_name %>, <%= sponsor.first_name %></option>
                                              <% }) %>
                                            </select>
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <label for="prime">Prime:</label>
                                            <select name="prime_id_fk" id="prime_id_fk" class="form-control">
                                              <% primes.forEach(function(prime){ %>
                                                <option value="<%= prime.id %>"><%= prime.last_name %>, <%= prime.first_name %></option>
                                              <% }) %>
                                            </select>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <label for="effort">Effort (PH)</label>
                                            <input type="text" class="form-control" id="effort" name="effort" style="width:100px;">
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <label for="benefit">Benefit (ROI or $)</label>
                                            <input type="text" class="form-control" id="benefit" name="benefit" style="width:100px;">
                                          </div>
                                        </div>
                                      </div>
                                     <div id="impact_elements">
                                      <div class="row">
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <label for="impact">Impact:</label>
                                            <select name="impact" id="impact" class="form-control">
                                              <% for (var i = 1; i <= 10; i++) { %>
                                                <option value="<%= i %>"><%= i %></option>
                                              <% } %>
                                            </select>
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <label for="complexity">Complexity:</label>
                                            <select name="complexity" id="complexity" class="form-control">
                                              <% for (var i = 1; i <= 10; i++) { %>
                                                <option value="<%= i %>"><%= i %></option>
                                              <% } %>
                                            </select>
                                          </div>
                                        </div>
                                      </div>
                                      </div>
                                      <div id="otherPhaseFields">
                                        <select name="project_tag1_id_fk" id="project_tag2_id_fk" class="form-control">
                                          <%=if(tags.length > 0){ %>

                                          <% tags.forEach(function(tag){ %>
                                            <% if (tag.id == tag.name) { %>
                                              <option selected value="<%= phase.id %>"><%= phase.phase_name %></option>
                                            <% } else { %>
                                              <option value="<%= phase.id %>"><%= phase.phase_name %></option>
                                            <% } %>
                                          <% }) %>
                                        %>
                                        </select>
                                      </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-12">
                                          <div class="form-group">
                                            <label for="project_tag2_id_fk">Tag 1</label>
                                              <select name="project_tag2_id_fk" id="project_tag2_id_fk" class="form-control">
                                            <% for (var i = 1; i <= 10; i++) { %>
                                              <option value="<%= i %>"><%= i %></option>
                                            <% } %>
                                          </div>
                                        </div>
                                        <div class="col-md-12">
                                          <div class="form-group">
                                            <select name="project_tag2_id_fk" id="project_tag2_id_fk" class="form-control">
                                              <% for (var i = 1; i <= 10; i++) { %>
                                                <option value="<%= i %>"><%= i %></option>
                                              <% } %>
                                            </select>
                                          </div>
                                        </div>
                                        <div class="col-md-12">
                                          <div class="form-group">
                                            <label for="project_cost">Tag 3</label>
                                            <select name="project_tag2_id_fk" id="project_tag2_id_fk" class="form-control">
                                              <% for (var i = 1; i <= 10; i++) { %>
                                                <option value="<%= i %>"><%= i %></option>
                                              <% } %>
                                            </select>
                                          </div>
                                        </div>
                                       
                                    </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                                  <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Submit</button>
                                </div>
                              </form>
                          </div>
                      </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
              
            </div>
        </div> <!-- end row -->
    </div>
</div>

<%- contentFor('FooterJs') %>

<%- contentFor('BottomJs') %>
<script>
 document.addEventListener("DOMContentLoaded", function() {
    'use strict';

    // Form validation using Bootstrap's custom styles
    var forms = document.querySelectorAll('.needs-validation');
    Array.prototype.slice.call(forms).forEach(function (form) {
        form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
        }, false);
    });

    // Numeric input validation for specific fields
    const numericFields = ['project_cost', 'effort', 'benefit'];
    numericFields.forEach(function(fieldId) {
        document.getElementById(fieldId).addEventListener('keydown', function(event) {
            if (![46, 8, 9, 27, 13, 110, 190].includes(event.keyCode) &&
                !((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105)) &&
                !(event.ctrlKey || event.metaKey)) {
                alert("Only numbers are allowed.")
                event.preventDefault();
            }
        });
    });

    // Clear modal fields on "Add Project" button click
    document.getElementById('btnAddProject').addEventListener('click', function() {
        document.querySelectorAll('#addProject input, #addProject textarea, #addProject select').forEach(function(input) {
            input.value = input.id === 'project_cost' ? '0' : '';
        });
    });

    // Table row click navigation to edit page
    document.querySelectorAll(".table tbody tr").forEach(function(row) {
        row.addEventListener('click', function() {
            var id = row.cells[0].textContent;
            window.location.replace('/projects/edit/' + id);
        });
    });

    // Input formatting with commas for project cost and benefit
    ['project_cost', 'benefit'].forEach(function(fieldId) {
       
        document.getElementById(fieldId).addEventListener('input', function () {
          console.log("fieldId:",fieldId)
            let input = this.value.replace(/[^0-9.]/g, '');
            if (input.includes('.')) {
                const parts = input.split('.');
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                input = parts.join('.');
            } else {
                input = input.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
            }
            this.value = input;
        });
    });

    // Dynamic field display based on phase selection
    document.getElementById('phase_id_fk').addEventListener('change', function() {
        var impactElements = document.getElementById("impact_elements");
        var leftElements = document.getElementById("leftElements");
        var effort_option = document.getElementById("effort_option");
        var benefit_option = document.getElementById("benefit_option");
        var impact_option = document.getElementById("impact_option");
        var complexity_option = document.getElementById("complexity_option");
        var tags_option = document.getElementById("tags_option");

        if (this.value == '1') {
            impactElements.style.display = 'none';
            leftElements.style.display = 'none';
            // effort_option.style.display = 'block';
            // benefit_option.style.display = 'none';
            // impact_option.style.display = 'none';
            // complexity_option.style.display = 'none';
            // tags_option.style.display = 'none';
        } else {
            impactElements.style.display = 'block';
            leftElements.style.display = 'block';
            // benefit_option.style.display = 'block';
            // impact_option.style.display = 'block';
            // complexity_option.style.display = 'block';
            // tags_option.style.display = 'block';
        }
    });
});
</script>