<%- contentFor('HeaderCss') %> 

<%- contentFor('breadcrumb') %>
<div class="row">
  <div class="col-md-4">
    <button type="button" class="button-menu-mobile open-left waves-effect">
      <i class="ion-navicon"></i>
    </button>
    <h3 class="page-title">Freezer</h3>
  </div>
  <div class="col-md-4">
    <h3
      id = "portfolio_name" class="page-title"
      style="color: #34b871; min-width: 600px"
    >
    <%= portfolio_name %>
    </h3>
  </div>
  <div class="col-md-4 text-right">
    <!-- Add any additional content here -->
  </div>
</div>


<%- contentFor('body') %>

<div class="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <!-- Main content -->
      <div class="col-md-12"></div>

      <!-- Radar and Flight Plan Buttons -->
      <div class="col-md-12">
        <div class="mini-stat bg-white clearfix">
          <div>
           <!-- Priority Section -->
           <div class="col-md-12">
            <br/>
              <div class="mini-stat bg-white clearfix" style="min-height: 150px;">
                
                  <div class="mini-stat-info">
                      <span class="counter">Cold Freezer (<%= archivedCount %>, $<%= archivedTotalCost %>, <%= archivedTotalPH %> PH)</span>
                  </div>
                  <div>
                    <% projects.forEach(function(project) { %>
                        <span>
                              <button type="button" onclick="loadProject('<%= project.id %>')" class="btn btn-light" style="margin-bottom: 10px; border-color: black; border-width: 2px;border-radius:10px;">
                                  <%= project.project_name %>
                              </button>
                          </span>&nbsp;&nbsp;&nbsp;
                     
                    <% }); %>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>

<%- contentFor('FooterJs') %>
<script src="public/assets/plugins/peity-chart/jquery.peity.min.js"></script>
<script src="public/assets/plugins/d3/d3.min.js"></script>
<script src="public/assets/plugins/c3/c3.min.js"></script>
<script src="public/assets/plugins/jquery-knob/excanvas.js"></script>
<script src="public/assets/plugins/jquery-knob/jquery.knob.js"></script>

<%- contentFor('BottomJs') %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      const form = document.querySelector('form');
      if (form) {
          form.addEventListener('submit', function(event) {
              if (!form.checkValidity()) {
                  event.preventDefault();
                  event.stopPropagation();
              }
              form.classList.add('was-validated');
          }, false);
      }
  });
  function loadProject(project_id) {
    window.location.replace("/projects/cockpit/" + project_id);
  }

  function loadFunnel() {
    window.location.replace("/projects/funnel/view/");
    // window.location.replace('/projects/funnel/view/'+ project_id+'/');
  }
  function loadRadar() {
    window.location.replace("/projects/radar/view/");
  }
  function loadFlightPlan() {
    window.location.replace("/projects/flight/view/");
  }
</script>