
<%- contentFor('HeaderCss') %>

<!-- <script src="frappe-gantt.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/3.0.1/jspdf.umd.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<%- contentFor('breadcrumb') %>

<div class="row">
  <div class="col-md-4">
    <button type="button" class="button-menu-mobile open-left waves-effect">
      <i class="ion-navicon"></i>
    </button>
    <h3 class="page-title">Health Check</h3>
    <button
      type="button"
      class="btn btn-primary waves-effect waves-light"
      id="btnPrintPage" name="btnPrintPage"
    >
      Download Report
    </button>
  </div>
  <div class="col-md-4">
    <h3
      class="page-title portfolio-title"
      style="color: #34b871; min-width: 600px"
    >
      <%= portfolio_name %>
    </h3>
  </div>
  <div class="col-md-4 text-right">
    <!-- Add any additional content here -->
  </div>
</div>
<br/>

<div class="row" class="progress-bar-container text-center" style="display: none;">
  
  <div class="col-md-12">
    <span  style="margin-left:45px;display:none;" id="download-label" name="download-label">Reporting downloading...</span>
    <div class="progress" style="height: 24px;margin-left:45px;">
      
      <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0"
        aria-valuemin="0" aria-valuemax="100">
       0%
      </div>
    </div>
  </div>
</div>

<%- contentFor('body') %>

<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-lg-12 text-center">
                <div class="card-body" style="border:0px !important;margin-top: 1.5em;">
                    
                    <div class="table-responsive">
                        <table class="table mb-12">
                           
                            <tbody>
                              <tr>
                                    <th>Project</th>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th>NMS</th>
                                    <th>Status</th>
                                    <th>Prime</th>
                                    <th>Sponsor</th>
                                    <th>Issues</th>
                                    <th>Actions</th>
                                    <th>Progress</th>
                                   
                                   
                                </tr>
                                <% let currentPhase = ''; %>
                                <% let health = ''; %>
                                <% let statsHealth = ''; %>
                        
                                <% projects.forEach(project => { %>
                                    <% if (project.phase_name === 'Delivery' || project.phase_name === 'Discovery') { %>
                                    <% if (project.phase_name !== currentPhase) { %>
                                        <% currentPhase = project.phase_name; %>
                                        <tr>
                                        <td colspan="12" style="background-color:#ececec;font-weight: bold; text-align: center;"><%= currentPhase %></td>
                                        </tr>
                                    <% } %>
                                     <thead>
                              
                            </thead>
                           
                                   <%
                                      let backgroundColor = 'gray'; // default gray
                                      if (project.last_status && project.last_status.health) {
                                        let health = project.last_status.health.toLowerCase().trim();
                                        if (health === 'yellow') backgroundColor = 'yellow';
                                        else if (health === 'green') backgroundColor = 'green';
                                        else if (health === 'red') backgroundColor = 'red';
                                        else if (health === '#000') backgroundColor = 'black';
                                        
                                      }
                                    %>
                                    <tr>
                                      <td style="background-color:<%= backgroundColor %>;color:black;font-weight: bold;min-width: 250px;">
                                        <%= project.project_name %>&nbsp;<a href="/projects/edit/<%= project.project_id %>"><i class="mdi mdi-border-color"></i></a>
                                      </td>
                                      <td><% if (project.start_date) { %><%= new Date(project.start_date).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %><% } %></td>
                                      <td><% if (project.end_date) { %><%= new Date(project.end_date).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %><% } %></td>
                                      <td><% if (project.next_milestone_date) { %><%= new Date(project.next_milestone_date).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %><% } %></td>
                                      <td>
                                        <%= project.mostRecentProgress && project.mostRecentProgress.health ? project.mostRecentProgress.health : "N/A" %>
                                      </td>
                                      <% if (project.mostRecentProgress && project.mostRecentProgress.health) { %>
                                        <% statsHealth = project.mostRecentProgress.health.toUpperCase().trim(); %>
                                      <% } %>
                                      <td><%= project.prime_first_name %> <%= project.prime_last_name %></td>
                                       
                                     
                                      
                                      <td><%= project.sponsor_first_name %> <%= project.sponsor_last_name %></td>
                                      <td><% if (project.last_status) { %><%= project.last_status.issue %><% } %></td>
                                      <td><% if (project.last_status) { %><%= project.last_status.actions %><% } %></td>
                                      <td><% if (project.last_status) { %><%= project.last_status.progress %> %<% } %></td>
                                    </tr>
                                    <% } %>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- contentFor('FooterJs') %>
<%- contentFor('BottomJs') %>
<script>
document.getElementById("btnPrintPage").addEventListener("click", function () {
  const portfolioTitleElement = document.querySelector(".portfolio-title");

  if (!portfolioTitleElement) {
    console.error("Portfolio title element not found!");
    return;
  }

  const portfolioName = portfolioTitleElement.textContent.trim();

  // Create a style element for the print header
  const style = document.createElement("style");
  style.setAttribute("type", "text/css");
  style.setAttribute("media", "print");

  // Add CSS for the print header
  const css = `
    @page {
      size: landscape;
      margin-top: 3cm;
    }
    body::before {
      content: "${portfolioName}";
      display: block;
      text-align: center;
      font-weight: bold;
      font-size: 1.5em;
      margin-bottom: 1cm;
    }
    #btnPrintPage,
    .button-menu-mobile,
    .page-title,
    .portfolio-title {
      display: none !important;
    }
    td, th, tr, .table, .mini-stat, .card-body {
      -webkit-print-color-adjust: exact !important;
      print-color-adjust: exact !important;
    }
  `;

  style.appendChild(document.createTextNode(css));
  document.head.appendChild(style);

  // Save the current title
  const oldTitle = document.title;
  const today = new Date();
  const yyyy_mm_dd = today.toISOString().split('T')[0];
  console.log(yyyy_mm_dd);
  
  document.title = yyyy_mm_dd + " - PriorityPilot - Health Report";

  // Print
  window.print();

  // Restore the old title after a short delay
  setTimeout(() => {
    document.title = oldTitle;
  }, 1000);
});
</script>
Extension Icon

