<%- contentFor('HeaderCss') %> 

<%- contentFor('breadcrumb') %>
<div class="row">
  <div class="col-md-4">
    <button type="button" class="button-menu-mobile open-left waves-effect">
      <i class="ion-navicon"></i>
    </button>
    <h3 class="page-title">Funnel</h3>
  </div>
  <div class="col-md-4">
    <h3
      class="page-title"
      style="margin-right: 20em; color: #34b871; min-width: 600px"
    >
    <%= portfolio_name %>
    </h3>
  </div>
  <div class="col-md-4 text-right">
    <!-- Add any additional content here -->
  </div>
</div>

<%- contentFor('body') %>

<div class="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <!-- Main content -->
      <div class="col-md-12"></div>

      <!-- Radar and Flight Plan Buttons -->
      <div class="col-md-12">
        <div class="mini-stat bg-white clearfix">
          <div>
           <!-- Priority Section -->
           <div class="col-md-12">
            <button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#addProject" id="btnAddProject">Add Pitch</button>
            <br/>
              <div class="mini-stat bg-white clearfix" style="min-height: 150px;">
                
                  <div class="mini-stat-info">
                      <span class="counter">Funnel (<%= pitchCount %>, $<%= pitchTotalCost %>, <%= pitchTotalPH %> PH)</span>
                  </div>
                  <div>
                    <% projects.forEach(function(project) { %>
                      <% if (project.phase_name.trim() === 'Pitch') { %> 
                          <span>
                              <button type="button" onclick="loadProject('<%= project.id %>')" class="btn btn-light" style="margin-bottom: 10px; border-color: black; border-width: 2px;border-radius:10px;">
                                  <%= project.project_name %>
                              </button>
                          </span>&nbsp;&nbsp;&nbsp;
                      <% } %>
                    <% }); %>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 m-t-30">
        <!-- project modal content -->
        <div id="addProject" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content" style="width: 900px;">
              <div class="modal-header">
                <h5 class="modal-title mt-0">Add Pitch</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              </div>
              <div class="modal-body">
                <form action="/projects" class="needs-validation" novalidate method="POST">
                  <input hidden name="phase_id_fk" value="1">
                  <input type="hidden" name="funnelPage" id="funnelPage" value="y">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6">
                        <!-- First column of form fields -->
                        <div class="form-group">
                          <label for="project_name">Name</label>
                          <input type="text" class="form-control" id="project_name" name="project_name" maxlength="25" required>
                          <div class="invalid-feedback">
                            Please enter project name.
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="project_headline">Headline</label>
                          <input type="text" class="form-control" id="project_headline" maxlength="250" name="headline">
                        </div>
                        <div id="leftElements">
                          <div class="form-group">
                            <label for="project_why">Why?</label>
                            <textarea rows="4" class="form-control" id="project_why" name="why"></textarea>
                          </div>
                          <div class="form-group">
                            <label for="project_what">What?</label>
                            <textarea rows="4" class="form-control" id="project_what" name="what"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <!-- Second column of form fields -->
                        <div class="row">
                          <div class="row">
                         <div class="form-group pl-3" style="margin-right: 5px;margin-left: 10px;">
                              <label for="phase_name">Phase:</label>
                             <input text="text" style="width: 100px;" class="form-control" id="phase_name" name="phase_name" value="Pitch" style="margin-bottom: 10px; border-color: black; border-width: 2px; border-radius:10px;cursor: pointer;" disabled readonly>
                            </div>
                          </div>
                         <div class="col-md-6">
                            <div class="form-group">
                              <label for="priority_id_fk">Priority:</label>
                              <select name="priority_id_fk" style="width: 100px;" id="priority_id_fk" class="form-control">
                                <% priorities.forEach(function(priority){ %>
                                  <option value="<%= priority.id %>"><%= priority.priority_name %></option>
                                <% }) %>
                              </select>
                            </div>
                          </div>
                        <div id="otherPhaseFields"></div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label style="width:150px !important;margin-left:10px;" for="sponsor">Sponsor:</label>
                              <select style="width:150px !important;margin-left:10px;" name="sponsor_id_fk" id="sponsor_id_fk" class="form-control">
                                <% sponsors.forEach(function(sponsor){ %>
                                  <option value="<%= sponsor.id %>"><%= sponsor.last_name %>, <%= sponsor.first_name %></option>
                                <% }) %>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="prime" >Prime:</label>
                              <select name="prime_id_fk" id="prime_id_fk" class="form-control">
                                <% primes.forEach(function(prime){ %>
                                  <option value="<%= prime.id %>"><%= prime.last_name %>, <%= prime.first_name %></option>
                                <% }) %>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="effort" style="width:100px !important;margin-left:10px;">Effort (PH)</label>
                              <input type="text" style="width:100px !important;margin-left:10px;" class="form-control" id="effort" name="effort" oninput="formatNumberWithCommas(this);">
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="project_cost" style="width:100px !important;margin-left:10px;">Cost ($)</label>
                              <input type="text" class="form-control" id="project_cost"   oninput="formatNumberWithCommas(this);"name="project_cost" style="width:100px !important;margin-left:10px;">
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="benefit" style="width:120px !important;margin-left:10px;">Benefit (ROI or $)</label>
                              <input type="text" class="form-control" id="benefit" oninput="formatNumberWithCommas(this);" name="benefit" style="width:100px !important;margin-left:10px;">
                            </div>
                          </div>
                        </div>
                       <div id="tagFields">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="tag_1" style="width:120px !important;margin-left:10px;">Tag 1:</label>
                              <select style="margin-left:10px;" name="tag_1" id="tag_1" class="form-control">
                                <option selected value="0">None</option>
                                <% if (tags && tags.length > 0) { %>
                                  <% tags.forEach(function(tag){ %>
                                    <option value="<%= tag.id %>"><%= tag.tag_name %></option>
                                  <% }) %>
                                <% } else { %>
                                  <option value="">No tags available</option>
                                <% } %>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-12">
                           <div class="form-group" style="margin-right: 5px;margin-left: 10px;">
                              <label for="tag_2" >Tag 2:</label>
                              <select name="tag_2" id="tag_2" class="form-control">
                                <option value="0">None</option>
                                <% if (tags && tags.length > 0) { %>
                                  <% tags.forEach(function(tag){ %>
                                    <option value="<%= tag.id %>"><%= tag.tag_name %></option>
                                  <% }) %>
                                <% } else { %>
                                  <option value="">No tags available</option>
                                <% } %>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-12">
                           <div class="form-group" style="margin-right: 5px;margin-left: 10px;">
                              <label for="tag_3" >Tag 3:</label>
                              <select name="tag_3" id="tag_3" class="form-control">
                                <option value="0">None</option>
                                <% if (tags && tags.length > 0) { %>
                                  <% tags.forEach(function(tag){ %>
                                    <option value="<%= tag.id %>"><%= tag.tag_name %></option>
                                  <% }) %>
                                <% } else { %>
                                  <option value="">No tags available</option>
                                <% } %>
                              </select>
                            </div>
                          </div>
                          </div>
                          <div class="form-group" style="margin-right: 5px;margin-left: 10px;">
                            <label for="reference">Reference:</label>
                            <input type="text" class="form-control" id="reference" name="reference">
                            <div class="invalid-feedback">
                              Please enter project name.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Add more rows and columns if needed -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Submit</button>
                    <!-- if edit, add delete button -->
                    <!-- <button class="btn btn-danger w-md waves-effect waves-light" onClick='openDeleteModal()' type="button">Delete</button> -->
                    <!-- if edit, add delete button -->
                  </div>
                </form>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
      </div>
    </div> <!-- end row -->
  </div>
</div>

<%- contentFor('FooterJs') %>
<script src="public/assets/plugins/peity-chart/jquery.peity.min.js"></script>
<script src="public/assets/plugins/d3/d3.min.js"></script>
<script src="public/assets/plugins/c3/c3.min.js"></script>
<script src="public/assets/plugins/jquery-knob/excanvas.js"></script>
<script src="public/assets/plugins/jquery-knob/jquery.knob.js"></script>

<%- contentFor('BottomJs') %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
     'use strict';
   var forms = document.querySelectorAll(".needs-validation");

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms).forEach(function (form) {
      form.addEventListener(
        "submit",
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false,
      );
    });

  });
  function loadProject(project_id) {
    window.location.replace("/projects/cockpit/" + project_id);
  }

  function loadFunnel() {
    window.location.replace("/projects/funnel/view/");
    // window.location.replace('/projects/funnel/view/'+ project_id+'/');
  }
  function loadRadar() {
    window.location.replace("/projects/radar/view/");
  }
  function loadFlightPlan() {
    window.location.replace("/projects/flight/view/");
  }
</script>