<%- contentFor('HeaderCss') %>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>

<%- contentFor('breadcrumb') %>
<ul class="list-inline menu-left mb-0">
    <li class="list-inline-item">
        <button type="button" class="button-menu-mobile open-left waves-effect">
            <i class="ion-navicon"></i>
        </button>
    </li>
    <li class="hide-phone list-inline-item app-search">
        <h3 class="page-title">Radar</h3>
    </li>
</ul>


<%- contentFor('body') %>

  </head>
  <body>
    <%- contentFor('HeaderCss') %>

    <%- contentFor('breadcrumb') %>
    <ul class="list-inline menu-left mb-0">
      <li class="list-inline-item">
        <button type="button" class="button-menu-mobile open-left waves-effect">
          <i class="ion-navicon"></i>
        </button>
      </li>
      <li class="hide-phone list-inline-item app-search">
        <div><h3 class="page-title">Radar</h3></div>
      </li>
    </ul>
    <div class="container" style="margin-left: .5em;">
      <div class="row">
        <div class="col-lg-2 text-center">
          <div class="card-body p-2">
            <strong class="h3">Pitch</strong>
            <br />
            <button
              type="button"
              class="btn btn-light"
              style="
                background-color: #e2e6ea;
                border-color: #e2e6ea;
                margin-bottom: 5px;
                width: 120px;
                height: 50px;
              "
            >
              <%= pitchCount %>
            </button>
            <br />
            <button
              type="button"
              class="btn btn-light"
              style="
                background-color: #e2e6ea;
                border-color: #e2e6ea;
                margin-bottom: 5px;
                width: 120px;
                height: 50px;
              "
            >
              $<%= pitchCost %>
            </button>
          </div>
        </div>
        <div class="col-lg-2 text-center">
          <div class="card-body p-2">
            <strong class="h3">Priority</strong>
            <br />
            <button
              type="button"
              class="btn btn-light"
              style="
                background-color: #e2e6ea;
                border-color: #e2e6ea;
                margin-bottom: 5px;
                width: 120px;
                height: 50px;
              "
            >
              <%= priorityCount %>
            </button>
            <br />
            <button
              type="button"
              class="btn btn-light"
              style="
                background-color: #e2e6ea;
                border-color: #e2e6ea;
                margin-bottom: 5px;
                width: 120px;
                height: 50px;
              "
            >
              $<%= priorityCost %>
            </button>
          </div>
        </div>
        <div class="col-lg-2 text-center">
          <div class="card-body p-2">
            <strong class="h3">Discovery</strong>
            <br />
            <button
              type="button"
              class="btn btn-light"
              style="
                background-color: #e2e6ea;
                border-color: #e2e6ea;
                margin-bottom: 5px;
                width: 120px;
                height: 50px;
              "
            >
              <%= discoveryCount %>
            </button>
            <br />
            <button
              type="button"
              class="btn btn-light"
              style="
                background-color: #e2e6ea;
                border-color: #e2e6ea;
                margin-bottom: 5px;
                width: 120px;
                height: 50px;
              "
            >
              $<%= discoveryCost %>
            </button>
          </div>
        </div>
        <div class="col-lg-2 text-center">
          <div class="card-body p-2">
            <strong class="h3">Delivery</strong>
            <br />
            <button
              type="button"
              class="btn btn-light"
              style="
                background-color: #e2e6ea;
                border-color: #e2e6ea;
                margin-bottom: 5px;
                width: 120px;
                height: 50px;
              "
            >
              <%= deliveryCount %>
            </button>
            <br />
            <button
              type="button"
              class="btn btn-light"
              style="
                background-color: #e2e6ea;
                border-color: #e2e6ea;
                margin-bottom: 5px;
                width: 120px;
                height: 50px;
              "
            >
              $<%= deliveryCost %>
            </button>
          </div>
        </div>
        <div class="col-lg-2 text-center">
          <div class="card-body p-2">
            <strong class="h3">Done</strong>
            <br />
            <button
              type="button"
              class="btn btn-light"
              style="
                background-color: #e2e6ea;
                border-color: #e2e6ea;
                margin-bottom: 5px;
                width: 120px;
                height: 50px;
              "
            >
              <%= operationsCount %>
            </button>
            <br />
            <button
              type="button"
              class="btn btn-light"
              style="
                background-color: #e2e6ea;
                border-color: #e2e6ea;
                margin-bottom: 5px;
                width: 120px;
                height: 50px;
              "
            >
              $<%= operationsCost %>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <!-- Move the canvas element here -->
          <!-- <canvas id="humpChart"></canvas> -->
        </div>
      </div>
      <div style="width: 600px; margin: auto;">
        <canvas id="barChart"></canvas>
      </div>
      <script src="/utils/bar-chart.js"></script>
    </div>

    
  </body>
  <%- contentFor('FooterJs') %> <%- contentFor('BottomJs') %>
  <script>
    // Select the canvas element
const ctx = document.getElementById("barChart").getContext("2d");

// Data for the chart
const data = {
  labels: ["January", "February", "March", "April", "May"],
  datasets: [
    {
      label: "Sales",
      data: [150, 200, 180, 220, 300],
      backgroundColor: [
        "rgba(75, 192, 192, 0.2)",
        "rgba(54, 162, 235, 0.2)",
        "rgba(255, 206, 86, 0.2)",
        "rgba(153, 102, 255, 0.2)",
        "rgba(255, 159, 64, 0.2)",
      ],
      borderColor: [
        "rgba(75, 192, 192, 1)",
        "rgba(54, 162, 235, 1)",
        "rgba(255, 206, 86, 1)",
        "rgba(153, 102, 255, 1)",
        "rgba(255, 159, 64, 1)",
      ],
      borderWidth: 1,
    },
  ],
};

// Configuration for the chart
const config = {
  type: "bar",
  data: data,
  options: {
    scales: {
      y: {
        beginAtZero: true,
      },
    },
  },
};

// Create the chart
const barChart = new Chart(ctx, config);
  </script>
</html>
