<%- contentFor('HeaderCss') %>




<script src="frappe-gantt.min.js"></script>
<link rel="stylesheet" href="frappe-gantt.css">

<%- contentFor('breadcrumb') %>
<ul class="list-inline menu-left mb-0">
    <li class="list-inline-item">
        <button type="button" class="button-menu-mobile open-left waves-effect">
            <i class="ion-navicon"></i>
        </button>
    </li>
    <li class="hide-phone list-inline-item app-search">
        <h3 class="page-title">In-Flight Health</h3>
    </li>
</ul>


<%- contentFor('body') %>
<div class="page-content-wrapper">

    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-6">
                
                <div class="card-body text-center">
                   <img src="/public/assets/images/gantt.png" style="width:1000px"/>
                  
                </div>
                
                
            </div>
        </div>
</div>


<%- contentFor('FooterJs') %>


<%- contentFor('BottomJs') %>
