<%- contentFor('HeaderCss') %>

<script src="frappe-gantt.min.js"></script>
<%- contentFor('breadcrumb') %>
<ul class="list-inline menu-left mb-0">
    <li class="list-inline-item">
        <button type="button" class="button-menu-mobile open-left waves-effect">
            <i class="ion-navicon"></i>
        </button>
    </li>
    <li class="hide-phone list-inline-item app-search">
        <div>
            <h3 class="page-title">In-Flight Health</h3>
            <span style="padding-left:40px;"><%= new Date().toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %></span>
        </div>
    </li>
</ul>

<%- contentFor('body') %>
<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="card-body" style="border:0px !important;">
                    <div class="table-responsive">
                        <table class="table mb-12">
                            <thead>
                                <tr>
                                    <th>Project</th>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th>NMS</th>
                                    <th>Prime</th>
                                    <th>Sponsor</th>
                                   
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <% let currentPhase = ''; %>
                                <% projects.forEach(project => { %>
                                    <% if (project.phase_name === 'Delivery' || project.phase_name === 'Discovery') { %>
                                    <% if (project.phase_name !== currentPhase) { %>
                                        <% currentPhase = project.phase_name; %>
                                        <tr>
                                        <td colspan="12" style="background-color:#ececec;font-weight: bold; text-align: center;"><%= currentPhase %></td>
                                        </tr>
                                    <% } %>
                                   
                                    <% let backgroundColor = '#CCC'; %>
                                    <% if (project.health && project.health.toLowerCase().trim() === 'yellow') { %>
                                      <% backgroundColor = '#FFFF00'; %> <!-- Yellow color -->
                                    <% } else if (project.health && project.health.toLowerCase().trim() === 'green') { %>
                                      <% backgroundColor = '#00FF00'; %> <!-- Green color -->
                                    <% } else if (project.health && project.health.toLowerCase().trim() === 'red') { %>
                                      <% backgroundColor = '#FF0000'; %> <!-- Red color -->
                                    <% } %>
                                    <tr>

                                        <td style="background-color:<%= backgroundColor %>;color:black;font-weight: bold;"><%= project.project_name %>&nbsp;<a href="/projects/edit/<%= project.id %>"><i class="mdi mdi-border-color"></i></a></td>
                                        <td><% if (project.start_date) { %><%= new Date(project.start_date).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %><% } %></td>
                                        <td><% if (project.end_date) { %><%= new Date(project.end_date).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %><% } %></td>
                                        <td><% if (project.next_milestone_date) { %><%= new Date(project.next_milestone_date).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %><% } %></td>
                                        <td><%= project.prime_first_name %> <%= project.prime_last_name %></td>
                                        <td><%= project.sponsor_first_name %> <%= project.sponsor_last_name %></td>
                                        
                                    </tr>
                                    <% } %>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- contentFor('FooterJs') %>
<%- contentFor('BottomJs') %>