<%- contentFor('HeaderCss') %>



<%- contentFor('breadcrumb') %>
<ul class="list-inline menu-left mb-0">
    <li class="list-inline-item">
        <button type="button" class="button-menu-mobile open-left waves-effect">
            <i class="ion-navicon"></i>
        </button>
    </li>
    <li class="hide-phone list-inline-item app-search">
        <h3 class="page-title">Radar</h3>
    </li>
</ul>


<%- contentFor('body') %>

  </head>
  <body>
    <%- contentFor('HeaderCss') %>

    <%- contentFor('breadcrumb') %>
    <ul class="list-inline menu-left mb-0">
      <li class="list-inline-item">
        <button type="button" class="button-menu-mobile open-left waves-effect">
          <i class="ion-navicon"></i>
        </button>
      </li>
      <li class="hide-phone list-inline-item app-search">
        <div><h3 class="page-title">Radar</h3></div>
      </li>
    </ul>
    <div class="container" style="margin-left: .5em;">
      <div class="row">
        
        <div class="col-lg-2 text-center">
          <div class="card-body p-2">
            <strong class="h3">Priority</strong>
            <br />
            <button
              type="button"
              class="btn btn-light"
              style="
                background-color: #e2e6ea;
                border-color: #e2e6ea;
                margin-bottom: 5px;
                width: 120px;
                height: 50px;
              "
            >
              <%= priorityCount %>
            </button>
            <br />
            <button
              type="button"
              class="btn btn-light"
              style="
                background-color: #e2e6ea;
                border-color: #e2e6ea;
                margin-bottom: 5px;
                width: 120px;
                height: 50px;
              "
            >
              $<%= priorityCost %>
            </button>
          </div>
        </div>
        <div class="col-lg-2 text-center">
          <div class="card-body p-2">
            <strong class="h3">In-Flight</strong>
            <br />
            <button
              type="button"
              class="btn btn-light"
              style="
                background-color: #e2e6ea;
                border-color: #e2e6ea;
                margin-bottom: 5px;
                width: 120px;
                height: 50px;
              "
            >
              <%= discoveryCount + deliveryCount%>
            </button>
            <br />
            <button
              type="button"
              class="btn btn-light"
              style="
                background-color: #e2e6ea;
                border-color: #e2e6ea;
                margin-bottom: 5px;
                width: 120px;
                height: 50px;
              "
            >
              $<%= discoveryCost %>
            </button>
          </div>
        </div>
        <!-- <div class="col-lg-2 text-center">
          <div class="card-body p-2">
            <strong class="h3">Delivery</strong>
            <br />
            <button
              type="button"
              class="btn btn-light"
              style="
                background-color: #e2e6ea;
                border-color: #e2e6ea;
                margin-bottom: 5px;
                width: 120px;
                height: 50px;
              "
            >
              <%= deliveryCount %>
            </button>
            <br />
            <button
              type="button"
              class="btn btn-light"
              style="
                background-color: #e2e6ea;
                border-color: #e2e6ea;
                margin-bottom: 5px;
                width: 120px;
                height: 50px;
              "
            >
              $<%= deliveryCost %>
            </button>
          </div>
        </div> -->
        <div class="col-lg-2 text-center">
          <div class="card-body p-2">
            <strong class="h3">Done</strong>
            <br />
            <button
              type="button"
              class="btn btn-light"
              style="
                background-color: #e2e6ea;
                border-color: #e2e6ea;
                margin-bottom: 5px;
                width: 120px;
                height: 50px;
              "
            >
              <%= operationsCount %>
            </button>
            <br />
            <button
              type="button"
              class="btn btn-light"
              style="
                background-color: #e2e6ea;
                border-color: #e2e6ea;
                margin-bottom: 5px;
                width: 120px;
                height: 50px;
              "
            >
              $<%= operationsCost %>
            </button>
          </div>
        </div>
      </div>
      
      <div style="width: 1100px; margin: auto;">
        <canvas id="barChart"></canvas>
      </div><div style="width: 1100px; margin: auto;">
        <canvas id="barChart"></canvas>
      </div>
    </div>

    
  </body>
  <%- contentFor('FooterJs') %> <%- contentFor('BottomJs') %>
  <script>
    document.addEventListener("DOMContentLoaded", function () {

    // Select the canvas element
    if (typeof Chart !== 'undefined') {
            const ctx = document.getElementById('barChart').getContext('2d');
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 5'],
                    datasets: [{
                        label: 'Company Name',
                        data: [12, 19, 3, 5, 2, 3],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.6)',
                            'rgba(54, 162, 235, 0.6)',
                            'rgba(255, 206, 86, 0.6)',
                            'rgba(75, 192, 192, 0.6)',
                            'rgba(153, 102, 255, 0.6)',
                            'rgba(255, 159, 64, 0.6)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
                
            });
        } else {
            console.error('Chart.js library NOT loaded');
            document.body.innerHTML = '<p>Error: Chart.js library failed to load</p>';
        }
      });
      
    
         
</script>
</html>
