<%- contentFor('HeaderCss') %>
<style>
  .form-group-inline {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  .form-group-inline label {
    margin-right: 10px;
  }
  .form-group-inline select {
    margin-right: 10px;
  }
</style>

<%- contentFor('breadcrumb') %>
<ul class="list-inline menu-left mb-0">
  <li class="list-inline-item">
    <button type="button" class="button-menu-mobile open-left waves-effect">
      <i class="ion-navicon"></i>
    </button>
  </li>
  <li class="hide-phone list-inline-item app-search">
    <h3 class="page-title">Projects</h3>
    <button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#addProject" id="btnAddProject">Add Project</button>
  </li>
</ul>

<%- contentFor('body') %>
<div class="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-body" style="border:0px !important;">
          <div class="table-responsive">
            <table class="table mb-0">
              <thead>
                <tr>
                  <!-- <th>ID</th> -->
                  <th>Name</th>
                  <th>Prime</th>
                  <th>Sponsor</th>
                  <th>Start</th>
                  <th>End</th>
                  <th>Phase</th>
                  <th>Cost</th>
                </tr>
              </thead>
              <% projects.forEach(function(project) { %>
              <tbody>
                <tr style="cursor: pointer;">
                  <td style="display: none;"><%= project.id %></td>
                  <td><%= project.project_name %></td>
                  <% if (project.prime_last_name) { %>
                  <td><%= project.prime_last_name %>, <%= project.prime_first_name %></td>
                  <% } else { %>
                  <td>N/A</td>
                  <% } %>
                  <% if (project.sponsor_last_name) { %>
                  <td><%= project.sponsor_last_name %>, <%= project.sponsor_first_name %></td>
                  <% } else { %>
                  <td>N/A</td>
                  <% } %>
                  <td>
                    <% if (project.start_date) { %>
                    <%= new Date(project.start_date).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %>
                    <% } %>
                  </td>
                  <td>
                    <% if (project.end_date) { %>
                    <%= new Date(project.end_date).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %>
                    <% } %>
                  </td>
                  <td><%= project.phase_name %></td>
                  <td>$<%= project.project_cost %></td>
                </tr>
              </tbody>
              <% }); %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 m-t-30">
      <!-- project modal content -->
      <div id="addProject" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content" style="width: 900px;">
            <div class="modal-header">
              <h5 class="modal-title mt-0">Add Project</h5>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="container">
                  <form action="/projects" class="needs-validation" novalidate method="POST">
                    <div class="row">
                      <div class="col-md-6">
                        <!-- Left Column -->
                        <div class="form-group">
                          <label for="project_name">Project Name:</label> <span class="required_star">*</span>
                          <input type="text" class="form-control" id="project_name" maxlength="25" name="project_name" required>
                          <div class="invalid-feedback">
                            Please enter project name.
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="headline">Headline:</label>
                          <input type="text" class="form-control" id="headline" name="headline" maxlength="250">
                        </div>
                        <div class="form-group">
                          <label for="why">Why:</label>
                          <textarea class="form-control" id="why" name="why"></textarea>
                        </div>
                        <div class="form-group">
                          <label for="what">What:</label>
                          <textarea class="form-control" id="what" name="what"></textarea>
                        </div>

                        <div class="form-group" id="date_section">
                          <label for="dates">Start Date and End Date: <span class="required_star">*</span></label>
                          <div class="form-row">
                            <div class="col">
                              <i class="bi bi-calendar-check"></i><input type="text" required class="form-control datepicker" id="start_date" name="start_date" placeholder="Start Date">
                              <div class="invalid-feedback">
                                Start Date is required.
                              </div>
                            </div>
                            <div class="col">
                              <input type="text" required class="form-control datepicker" id="end_date" name="end_date" placeholder="End Date">
                              <div class="invalid-feedback">
                                End Date is required.   
                              </div>
                            </div>
                            <div class="col">
                              <input type="text" class="form-control datepicker" id="next_milestone_date" name="next_milestone_date" placeholder="Milestone Date">
                            </div>
                          </div>
                          <div><span class="required_star" id ="dates_required" style="display:none;">Start and End dates are required</span></span></div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <!-- Right Column -->
                        <div class="form-row">
                          <div class="col">
                            <div class="form-group">
                              <label for="phase">Phase:</label>
                              <select name="phase_id_fk" id="phase_id_fk" class="form-control">
                                <% phases.forEach(function(phase){ %>
                                <option value="<%= phase.id %>"><%= phase.phase_name %></option>
                                <% }) %>
                              </select>
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label for="priority">Priority:</label>
                              <select name="priority_id_fk" id="priority_id_fk" class="form-control">
                                <% priorities.forEach(function(priority){ %>
                                <option value="<%= priority.id %>"><%= priority.priority_name %></option>
                                <% }) %>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col">
                            <div class="form-group">
                              <label for="sponsor">Sponsor:</label>
                              <select name="sponsor_id_fk" id="sponsor_id_fk" class="form-control">
                                <% sponsors.forEach(function(sponsor){ %>
                                <option value="<%= sponsor.id %>"><%= sponsor.last_name %>, <%= sponsor.first_name %></option>
                                <% }) %>
                              </select>
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label for="prime">Prime:</label>
                              <select name="prime_id_fk" id="prime_id_fk" class="form-control">
                                <% primes.forEach(function(prime){ %>
                                <option value="<%= prime.id %>"><%= prime.last_name %>, <%= prime.first_name %></option>
                                <% }) %>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col">
                            <div class="form-group">
                              <label for="effort">Effort (PH)</label>
                              <input type="text" class="form-control" id="effort" oninput="formatNumberWithCommas(this);" name="effort" value="0">
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label for="project_cost">Cost ($)</label>
                              <input type="text" class="form-control" id="project_cost" oninput="formatNumberWithCommas(this);" name="project_cost" value="0">
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label for="benefit">Benefit (ROI or $)</label>
                              <input type="text" class="form-control" id="benefit" oninput="formatNumberWithCommas(this);" name="benefit" value="0">
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col">
                            <div class="form-group">
                              <label for="tag_1">Tag 1:</label>
                              <select name="tag_1" id="tag_1" class="form-control">
                                <% if (tags && tags.length > 0) { %>
                                <% tags.forEach(function(tag){ %>
                                <option value="<%= tag.id %>"><%= tag.tag_name %></option>
                                <% }) %>
                                <% } else { %>
                                <option value="">No tags available</option>
                                <% } %>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col">
                            <div class="form-group">
                              <label for="tag_2">Tag 2:</label>
                              <select name="tag_2" id="tag_2" class="form-control">
                                <% if (tags && tags.length > 0) { %>
                                <% tags.forEach(function(tag){ %>
                                <option value="<%= tag.id %>"><%= tag.tag_name %></option>
                                <% }) %>
                                <% } else { %>
                                <option value="">No tags available</option>
                                <% } %>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col">
                            <div class="form-group">
                              <label for="tag_3">Tag 3:</label>
                              <select name="tag_3" id="tag_3" class="form-control">
                                <% if (tags && tags.length > 0) { %>
                                <% tags.forEach(function(tag){ %>
                                <option value="<%= tag.id %>"><%= tag.tag_name %></option>
                                <% }) %>
                                <% } else { %>
                                <option value="">No tags available</option>
                                <% } %>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Cancel</button>
                      <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- contentFor('FooterJs') %> <%- contentFor('BottomJs') %>
<script>
  (function () {
    'use strict';

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation');

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add('was-validated');
        }, false);
      });
  })();

  document.addEventListener("DOMContentLoaded", function() {
    let startDateClicked = false;
    let endDateClicked = false;

    // Get all table rows
    var rows = document.querySelectorAll(".table tbody tr");
    //hide date until phase changes
    document.getElementById('date_section').style.display = 'none';

    // Loop through each row
    rows.forEach(function(row) {
      // Add a click event listener to each row
      row.addEventListener("click", function() {
        var id = row.cells[0].textContent; 
        window.location.replace('/projects/edit/'+id)
      });
    });

    // Initialize Flatpickr on the input fields
    const startDatePicker = flatpickr("#start_date", {
      dateFormat: "Y-m-d",
      onChange: function(selectedDates, dateStr, instance) {
        // This function will be triggered when the user selects a date
        endDatePicker.set('minDate', dateStr); // Set the minimum date for the end date picker
        startDateClicked = true; // Set the flag to true when a date is selected
      }
    });

    const endDatePicker = flatpickr("#end_date", {
      dateFormat: "Y-m-d", // Format the date as YYYY-MM-DD
      minDate: 'today',    // Set the minimum selectable date to today
      maxDate: new Date().fp_incr(365), // Set the maximum selectable date to one year from now
      onChange: function(selectedDates, dateStr, instance) {
        // This function will be triggered when the user selects a date
        console.log("Selected date:", dateStr);
        startDatePicker.set('maxDate', dateStr); // Set the maximum date for the start date picker
        endDateClicked = true; // Set the flag to true when a date is selected
      }
    });

    flatpickr('#next_milestone_date', {
      dateFormat: 'Y-m-d', // Format the date as YYYY-MM-DD
      minDate: 'today',    // Set the minimum selectable date to today
      maxDate: new Date().fp_incr(365) // Set the maximum selectable date to one year from now
    });

    // Add event listener to the form submit event
    const form = document.querySelector('.needs-validation');
    form.addEventListener('submit', function(event) {
      if (!startDateClicked || !endDateClicked) {
        event.preventDefault();
        event.stopPropagation();
        const dateRequired = document.getElementById('dates_required');
        dateRequired.style.display = "block";
      } else {
        const dateRequired = document.getElementById('dates_required');
        dateRequired.style.display = "none";
      }

      if (!form.checkValidity()) {
        event.preventDefault();
        event.stopPropagation();
      }

      form.classList.add('was-validated');
    }, false);
  });

  addProject.addEventListener('click', function(event) {
    $("#addProject").modal({
      backdrop: "static",
      keyboard: false,
    });
  });
  // Show or hide date_section based on phase selection
  const phaseSelect = document.getElementById("phase_id_fk");
    phaseSelect.addEventListener("change", function() {
      if(phase_id_fk.value=="1"){
        //phase is pitch hide dates
        document.getElementById('date_section').style.display = 'none';
      }
      else{
        //phase is not pitch show dates
        document.getElementById('date_section').style.display = 'block';
      }
      
    });
    function formatNumberWithCommas(input) {
  // Remove non-numeric characters
  let value = input.value.replace(/\D/g, "");

  // Format the number with commas
  value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ",");

  // Set the formatted value back to the input
  input.value = value;
}
</script>