<%- contentFor('HeaderCss') %> <%- contentFor('breadcrumb') %>
<ul class="list-inline menu-left mb-0">
  <li class="list-inline-item">
    <button type="button" class="button-menu-mobile open-left waves-effect">
      <i class="ion-navicon"></i>
    </button>
  </li>
  <li class="hide-phone list-inline-item app-search">
    <h3 class="page-title">Error</h3>
  </li>
</ul>

<%- contentFor('body') %>
<div class="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
            <div class="error-page">
              <h1>Error 404</h1>
              <p><%= message %></p>
             
              <a href="mailto:help@prioritypilot.ca ">Email Support</a> if issue persists.<br/><br/>
              <a
href="/login"
class="btn btn-primary back-to-login waves-effect waves-light"
role="button"
>
Return to Login
</a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <%- contentFor('FooterJs') %> <%- contentFor('BottomJs') %>
</div>
